---|||
# Pandas  Introduction 

It is a Python library used for data manipulation, cleaning and processing.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### The core data structure in pandas are Series (column like), and Dataframe(tabular like)
---|||

**Series**: one dimensional array-like object containing
-  sequence of values, **P**
-  an associated array of data labels, called its **index**

> By default, the index ranges from 0 to the len(P) - 1

In [2]:
file_path = "../datasets/pydata_datasets/haiti/Haiti.csv"

In [ ]:
pd.read_csv(file_path).loc[[3, 4,5], ["Serial", "CATEGORY", "INCIDENT DATE"]]

In [ ]:
# notice the associated indices
pd.Series([5, 10, 111, 4, 3, 5, 6, 10, 4]).unique()

In [ ]:
# create a series with modified index, using its index parameter

s = pd.Series([10, 20, 30, 40], index=['i', 'j', 'k', 'l'])
s

In [ ]:
# obtain the index of a given series using the index attribute

s.index


---|||
##### The index of a Series can be used to select data corresponding to the index

They act as index to the data sequence

In [ ]:
s['k'], s['i']

##### NumPy-like operations can be used to manipulate a Series object

The index remains unchanged, after the operation(s) is performed

In [ ]:
s[s > 25]

In [ ]:
s * 2

In [ ]:
np.exp(s)

In [ ]:
# query if the series contains a given index

'j' in s

### A good mental model is to think of a Series object as a dictionary of keys and values

- the index are the keys
- the data are the values

In [ ]:
# some states and their corresponding capitals in Nigeria
sdata = {'lagos': 'ikeja', 'ogun': 'abeokuta', 'adamawa': 'lafia'}

# create a series object from the data
s = pd.Series(sdata)
s

In [ ]:
# get the index

s.index

In [ ]:
# query if an index is contained in the series

'lagos' in s, 'fct' in s


---|||

#### Alter the indices of a Series in-place

In [ ]:
index = ['l', 'o', 'a']

# change the indices to index
s.index = index

In [ ]:
s.index


---|||
#### Using the Dictionary to create the series will sort the data based on the keys

This can be overriden by passing the same keys, and in whatever order to the index keyword

> adding a key that doesn't belong in the dictionary will result in the key having a NAN value (a.k.a missing data)

In [ ]:
# adding more indices than data, results in NAN values

# some states and their corresponding capitals in Nigeria
sdata = {'lagos': 'ikeja', 'ogun': 'abeokuta', 'adamawa': 'lafia'}

# using the keys to order the values
s = pd.Series(sdata, index=['lagos', 'adamawa', 'ogun'])
s

In [ ]:
# using a key that is not in the dictionary => 'fct
# will add the key, but its value will benan


s = pd.Series(sdata, index=['ogun', 'fct', 'adamawa', 'lagos'])

s


---|||
#### **isnull** and **notnull** method as a way of detecting missing data

In [ ]:
# find index with missing data in a series

s.isnull()

In [ ]:
# find index without missing data in the series

s.notnull()

In [ ]:
# the query formats (functions and instance method) are equivalent


(
    pd.notnull(s) == s.notnull(),
    
    pd.isnull(s) == s.isnull()
)


---|||
##### Arithmetic Operations on series with similar keys 

When performing arithmetic operations on different series with similar keys, the keys are used to align the data before the operation is performed element wise

In [ ]:
adata = {'i': 11, 'j': 33, 'k': 23}
bdata = {'a': 100, 'j': 23, 'b': 73, 'k': 1000} # keys j, k are in adata

s1 = pd.Series(adata)
s2 = pd.Series(bdata)

In [ ]:
s1

In [ ]:
s2

In [ ]:
# notice that not all the keys are the same

# additional keys thar are not present in either index(es) ...
# wi;; return nan values

s1 + s2

|^|

Notice that keys that doesn't match have NAN values returned

---
---|||
#### Naming a Series 

It is possible to name a series object using the name attribute of kwarg

In [ ]:
sdata

In [ ]:
s = pd.Series(sdata, name='States and Capital in Nigeria')

In [ ]:
s

In [ ]:
# get the name using its index attributes

s.name


---|||
# Dataframe

The other core pandas object is the DataFrame representing a tabular-like data (like excel spreadsheet). It contains

- ordered collections of columns; each column can contain different data type
- a row and column index
 
A good mental model is to think of Dataframe as a dictionary containing

- **keys**: representing the columns, and its column index
-
- **value**:  Series object such that
  -  the keys of the series represent the row index
  - the values in the series represent the data keyed by its row and column index

In [ ]:
# creating a dataframe

data = {'states': ['lagos', 'fct', 'ondo', 'oyo', 'plateau'], 'capital': ['ikeja', 'abuja', 'akure', 'ibadan', 'jos']}

# the row index will automatically default to a number, 
# if we had used the dictionary as is.
# but we pass one in the intialisation

df = pd.DataFrame(data, index=['i', 'j', 'k', 'l', 'm'])

df

In [ ]:
# create a dataframe by passing list
# and we can specify the column index...
# in the order we want them to appear

df = pd.DataFrame(
  [('lagos', 'ikeja', 'SW'),
   ('fct', 'abuja', 'NC'), 
   ('ondo', 'akure', 'SW'),
   ('oyo', 'ibadan', 'SW'),
   ('plateau', 'jos', 'SS')],
  columns=['states', 'capitals', 'geographic_region'], index=['a', 'b', 'c', 'd', 'e']
)

df

In [ ]:
# if we passed this directly, then the columns will be ... 
# ordered based on the keys - (capital, geographic_region, states)

data = {
    'states': ['lagos', 'fct', 'ondo', 'oyo', 'plateau'],
    'capital': ['ikeja', 'abuja', 'akure', 'ibadan', 'jos'],
    'geographic_region': ['SW', 'NC', 'SW', 'SW', 'SS']
    }

# notice the order of the columns indices (geographic.., states, capital)

# also notice that the population index in columns ... 
# is not contained in the data, so its values will be nan

df = pd.DataFrame(data, columns=['geographic_region', 'states', 'capital', 'population'])
df


---|||
#### **Head** or **Tail** Selecting the top or last few elements

We can select the first few elements in the beginning or end of the dataframe using the **head** and **tail** method.

By default they return the first or last five rows in the dataframe, however, we can pass-in a number to indicate the number of rows that should be returned

In [ ]:
# select the first n values of a dataframe
df.head(3)

In [ ]:
df.tail(2)

In [ ]:
# get the column index using the column attributes

df.columns


---|||

# Indexing a Dataframe

Remember that the keys to  the dataframe are its columns index.

When the dataframe object is indexed by the column name, a series containing the row index and its corresponding data is returned.

Indexing can be carried out in two ways; 
- **dictionary indexing**: as key 
- **attribute indexing**: using the name of the column

> the dictionary indexing format is more general, as it can also be used with column index with *space* in their name, which would have other_wise be invalid using attribute.

In [ ]:
# get all the data in the capital -> a series 

df['capital']

In [ ]:
# using attribute index

df.geographic_region

In [ ]:
# get the population column

df.population

In [ ]:
# assign values to the population column

df.population = [20, 10, 3, 4, 1]
df

In [ ]:
# remember broadcasting?

df.population = 1
df


---|||

#### Adding a new series to an existing dataframe object

Add a new column then;  add a series to a new column in the dataframe

Satisfy the following

- The length of the series data must match the those in the dataframe
- The index length of the series must match those in the dataframe, 
- the index names,that matches those in the dataframe will be aligned
- the index name that doesn't match will be NAN


> Note, if the index length, those of the

In [ ]:
# change the row index names

df.index = ['one', 'two', 'three', 'four', 'five']
df

In [ ]:
# add a series


# the max length of the series must match those of the dataframe

# the row index, 'five' is not on the new series index ... 
# hence the corresponding value will be nan

# there is no 'not-good' index in the data frame, ... 
# hence its values will not be aligned

s = pd.Series(
    data=['no', 'yes', 'yes', 'yes', 'bad'], 
    index=['two', 'one', 'four', 'three', 'not-good']
    )

# add a new column to the dataframe
# note this can only be created using dictionary key indexing
# as using attribute indexing will not work

df['Visited'] = np.nan
df

In [ ]:
# add the series to the visited column

# notice that the 'not-good' column doesn't match

df.Visited = s
df


---|||
#### Deleting a column from a dataframe

Using the **del** keyword followed by the column selection from the dataframe will delete the column from the dataframe

In [ ]:
df

In [ ]:
del df['Visited']

df


---||| 

#### Swapping Columns and Rows with transpose

Using the **transpose function** or **T attribute** will:

- swap rows to columns
- columns to rows

In [ ]:
df.T

In [ ]:
df.transpose()


---|||

### Creating a new Dataframe from an existing Dataframe

By using an existing dataframe object, one can create a new dataframe.

IF the index key is also specified, then

- any index of the previous dataframe added to this new index, will have its column data in the new data frame

- new index will automatically be assigned nan

In [ ]:
# we only want the data in 'one, five and three' in the new dataframe

# in the new index added, 'ten, nine' will be assigned nan 

df2 = pd.DataFrame(df, index=['one', 'ten', 'five', 'nine', 'three'])

df2

In [ ]:
# set the name attributes of the index and column of a dataframe

df2.columns.name = 'States in Nigeria Info'
df2.index.name = "Numbering"

df2

In [ ]:
# return the values in a dataframe
# the data are returned along the columns axis

df.values


---|||

### Index Object

This is a pandas object that holds the values of
- a Series row index 
- a Dataframe's columns or row index A

The Index Obeject is;

- It is immutable 
- it can be shared among other data structures

In [ ]:
# manipulatiing a Series using its index object

s = pd.Series(
    data=['Mo', 'Usman', 'Kolawole'],
    index=['a', 'b', 'c']
    )
s

In [ ]:
# get the index object

ind = s.index

ind

In [ ]:
# index object are immutable

ind[0] = 'k'

In [ ]:
#  create an index object

ind = pd.Index(data=['l', 'm', 'n', 'p'])

ind

In [ ]:
# use the new index object in a series

s = pd.Series(np.arange(4), index=ind)

s

In [ ]:
ind2 = ['l', 'm', 'n', 'p']

In [ ]:
# remember the difference between (==) and (is)?

# compares element wise; remember vectorization?
s.index == ind2

In [ ]:
# check that they are the same object in memory 

s.index is ind2

In [ ]:
s.index is ind


---|||
### Index Object as a container for Duplicate Object

Since Index Object are immutable, they are similar to a fixed-set in Python, and support Set logic. But unlike Python Sets, they can contain duplicate values

In [ ]:
# create two pandas object

ind1 = pd.Index(['a', 'b', 'c', 'd', 'm', 'f', 'g', 'l'],)
ind2 = pd.Index(['l', 'm', 'b', 'p', 'a', 'h', 'q', 'r'],)

In [ ]:
# apply set logic to both

# concatenate two Index objects to create a new one

ind3 = ind2.append(ind1)

ind3

In [ ]:
# compute the difference between two set A - B
# this is remove all the elements of B that is also in A,  from A

ind4 = ind3.difference(ind2)

ind4

In [ ]:
# compute the union of two or more

# remember this is set logic, so duplicates will not be allowed
# but an index object itself can contain duplicate values

ind5 = ind1.union(ind2)

ind5


---|||
### Re-indexing a Series 

The **reindex** method allows creating a new Series object, with the data of the old series **aligned** to a new index (if the index of the data in the old series are elements in the new index).

> the data in the new index will be ordered based on how they are passed in the

In [ ]:
# create a series

s = pd.Series(
    data=np.arange(8),
    index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
    )
s

In [ ]:
# index

s.index

In [ ]:
# change the index using the reindex method

# note there are new index values present, 
# so, index in **s** will be aligned to its data in the new series ...
# and new index values will be assigned NAN values

s.reindex(['a', 'i', 'j', 'k', 'b', 'l', 'm', 'c', 'n', 'p', 'd', 'q'])


---|||
### Filling the NAN values in the **reindex** method

When both old and new index values are passed as elements in the reindex method,
the new index values will by default be **aligned** to NAN values. To fill this NAN values, one can pass the method of filling the NAN values.

**Methods**

- ffill: fill the NAN values with the last valid data before it,
- bfill: fill the NAN with the first valid data that comes after it

In [ ]:
# using the same series, from above

s.reindex(
    index=['a', 'i' , 'b', 'j', 'c', 'k', 'd', 'e'],
    method='ffill'
)


---|||
### NumPy UFunc and Mappings 

Remember UFuncs are numpy functions that apply an operation to each element of an ndarray, through broadcasting.

In pandas, ufuncs can also be applied to pandas dataframe and series objects

In [ ]:
df = pd.DataFrame(np.arange(24).reshape((6 , 4)))

df

In [ ]:
# apply the sqrt ufunc of the table

np.sqrt(df)


---|||
### Apply Mapping Method

In [ ]:
s = pd.Series(np.arange(1, 10))
df = pd.DataFrame(np.arange(36).reshape(9, 4))

In [ ]:
f =  lambda x: x*x

def g(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [ ]:
s

In [ ]:
s.apply(f)

In [ ]:
df.apply(f)

In [ ]:
df

In [ ]:
df.apply(g, axis=1)


---|||
### **applymap** method

This is similar to apply, except that it applies the passed in function to each element in the dataframe, instead of applying it to a a series along a  specific axis.

In [ ]:
data = np.random.random((5, 6))
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'])

df

In [ ]:
format = lambda x: '%.3f' %x

In [ ]:
# using apply will try to execute format on the axis (0, by default),
# which should fail, because the format method except single values,
# but the apply method will pass a series object to it

df.apply(format)

In [ ]:
# to overcome this challenge, the applymap method is used

df.applymap(format)

In [ ]:
df


---|||
### Sorting

Sorting can be done in two ways:

- **by values**: sort based on the value in the series or dataframe
- **by index**: sort based on the index in the series OR based on the axis in a dataframe

In [ ]:
s = pd.Series(np.arange(1, 14, 2), index=['c', 'a', 'b', 'k', 'i', 'm', 'e'])

s

In [ ]:
# sort by index in descending order

s = s.sort_index(ascending=False)
s

In [ ]:
# sort by values in ascending

s.sort_values()

In [ ]:
df = pd.DataFrame(np.arange(1, 41, 3).reshape(7, 2), index=[3, 1, 7, 11, 32, 9, 0])

df

In [ ]:
# sort by index along axis = 1

df.sort_index(axis=1, ascending=False)

In [ ]:
# sort by index along axis=0

df.sort_index(axis=0)

In [ ]:
# sort by values along axis = 1, but a key must be specified

df.sort_values(axis=1, by=1)


---|||
# Chapter 6: Data Loading, Storage, and File Formats

---|||
### Loading/Reading of Data into a Dataframe Object

The read_[type] is meant to convert data stored on disk to a Dataframe object.

In [ ]:
# reading a csv formatted data

file_path = "../datasets/Employees.csv"

df = pd.read_csv(file_path)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
# set the index column to Unnamed
df = df.set_index('Unnamed: 0')

In [ ]:
df.head()

In [ ]:
# remove index name
df.index.name = ""

In [ ]:
df.head()

In [ ]:
# this multiple operations could be done directly when loading the file

df = pd.read_csv(file_path, index_col=0)

In [ ]:
df.head()


---|||
# Using **read_table** as a general method for loading text data

While *read_csv* is specific to CSV formatted files, one can use *read_table*, and indicate how the data is formatted in an optional seperator key (sep).

The seperator between data points for CSV-formatted file is a comma (,).

In [ ]:
# use read_tables to open the Employee CSV data

df = pd.read_table(file_path)

In [ ]:
df.head()

In [ ]:
# specify the format method in the seperator
# remember the index column

df = pd.read_table(file_path, sep=',', index_col=0)

In [ ]:
df.head()

In [ ]:
file_path = "../datasets/pydata_datasets/babynames/yob1881.txt"

# suppose we don't know how the data is formatted, we use the read_table to peek

df = pd.read_table(file_path)

In [ ]:
df.head()

In [ ]:
# since it is comma seperated, we use the read_csv file

df = pd.read_csv(file_path)
df.head()


---|||
### Using the header key


It is used to specify whether the data has column names(header) associated with it. Whenever the header argument is still specified, then;

- it value is either 0 or NONE
- the default column names (0, 1, 2, 3, ...) based on the inferenced number of columns 

When the **names** key is specified, header must be specified with...

- None: if column names are not present
- 0: if they are present, but will be renamed (using names=[val1, val2, ...])

In [ ]:
# something is amiss, the column names are part of the data
# so we specify that the header (=> column names) is/are absent

df = pd.read_csv(file_path, header=None)
df.head()


---|||
### Setting the column names

This can be achieved by passing a values to the **names** optional parameter in the read_csv method.

There are implications if the length of the passed values exceed those in the data file. In this case, the name is added and populated with NAN values

If the length of the passed values were less than those in the data file, then the the columns not accounted for are used to index the data

In [ ]:
# to be even more pragmatic, by specify the names we want
# instead of using the default integer column indexing

df = pd.read_csv(file_path, header=None, names=['Name', 'Sex', 'Count'])
df.head()

In [ ]:
df.tail()

In [ ]:
file_path = "../datasets/pydata_datasets/haiti/Haiti.csv"

# peek into the data

df = pd.read_csv(file_path)
df.head(3)

In [ ]:
# get the count of each columns of the dataframe

df.count() 

# observe that the total length is 3593

In [ ]:
# confirm the observation using the shape

df.shape

# its true; there are 3593 rows

In [ ]:
# is the serial number a numbering format or special?

# sort by index
df.sort_values(by='Serial').head()

In [ ]:
# change the values of serial to start from 1, by subtracting 3

# since we have a dataframe, and we want to apply and operation on...
# each values in the Serial column, we use the map method

# f = lambda x: x - 3

In [ ]:
df.Serial = df.loc[:, 'Serial'] - 3

In [ ]:
# reindex by Serial

df.set_index('Serial', inplace=True)

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df.head()

In [ ]:
# an interesting data set
file_path = "../datasets/pydata_datasets/movielens/movies.dat"

# peek
pd.read_table(file_path).head()

Observations:

- the file has no header: set header to [name, year, genre]
- we have three seperator :: to get the title and genre, () to get the year
- we should replace the |, with something better , a space

- the index of the data should be the first column

In [ ]:
df = pd.read_table(
    file_path,
    header=None,
    names=['num', "title", "year", "genre", ''],
    sep='(\d+)::([^:]+)\s\((\d+)\)::(.*)',
    engine='python',
    keep_default_na=False,
)

In [ ]:
df.head()


---|||
## Handling Missing Values 

It is possible to pass a string or sequence of strings, as values to the **na_values** key, which would marks any occurence of the string(s) as missing values (NAN, NA...)

In [ ]:
# lets set any Abel and Echo as sentinel value

df = pd.read_csv("../datasets/Employees.csv", na_values=['Able', 'Echo'])

df.tail()

In [ ]:
# re-index

df.set_index('Unnamed: 0', inplace=True)

In [ ]:
df.head()

In [ ]:
# rename index to empty 
df.rename_axis(index="", inplace=True)

In [ ]:
df.head()


---|||
### **na_values** for all or specific column(s)

It is possible to specify that when a given data, as specified in the **value(s)** passed to the **na_values** key, then the data would be marked as sentinel i.e. the data would be marked as missing if any is found in the dataframe.

It is also possible to specify that we want the matches in specific columns by passing a dictionary, containing a **key-value** pair to **na_values**, such that;

- the key is the specific column name where we want to mark a certain data as sentinel

- the value(s) is/are the data to mark as sentinel in the specified column

In [ ]:
# we could have set the sentinel by selecting the specific column

# lets set any Abel and Echo as sentinel value in the Name column
#and all the values less than four (4) in the YearOfService column

df = pd.read_csv(
    "../datasets/Employees.csv", 
    na_values={
        'Name': ['Able', 'Echo'],
        'YearOfService': [0, 1, 2, 3]       # values less than 4
        },

    # when names is specified, header must be specified with...
    #   None: if column names are not present
    #   0: if they are present, but will be renamed (using names=[])
    header=0, # this allows us to specify no column
    names= ["", "Department", "Name", "YearOfService"], # rename column
    index_col=0
)

df.sort_values(by=['Name'], ascending=True).tail()


---|||
### Converter Optional Parameter

This is a **read_csv, and read_table** optional parameter, that take a dictionary as value.

Its purpose is to apply a **function/mapping f** specified as value to a **key representing the column name, that the function should apply the mapping** to every values in the specified column

In [ ]:
df.head()

In [ ]:
df = pd.read_table(
    "../datasets/a.txt",
    header=0,
    names=["Deparment", "Name", "YearOfService"],
    sep=','
    # index_col=0
)
df

In [ ]:
# based on the observation above, lets change the NAN values in Name to 'MO'abs

f = lambda x: ('Mo' if not x else x )
# def f(x):
    # if x
df = pd.read_table(
    "../datasets/a.txt",
    header=0,
    names=["Deparment", "Name", "YearOfService"],
    sep=',',
    converters={'Name': f}
    # index_col=0
)
df


---|||
### Reading Text Files in Pieces

It is optimal, when reading data in large files, to read the data from the file in small pieces OR iterate through smaller chunks of the file

One way this can be achieved is to specify the number of rows

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# set the display to more compact format

pd.options.display.max_rows = 10

In [ ]:
file_path = "../datasets/pydata_datasets/movielens/movies.dat"

# take a look at the resulting dataframe for example
df = pd.read_table(
    file_path,
    header=None,
    names=['num', "title", "year", "genre", ''],
    sep='(\d+)::([^:]+)\s\((\d+)\)::(.*)',
    engine='python',
    keep_default_na=False,
)

df.shape

There are 3883 rows.

Suppose it was very large, then it would take a lot longer to parse the entire data into the dataframe. One way to avoid this is to specify the **number of rows** we want from the file.

By passing the **nrows** keys, the read_[format] will stop when it reaches the number of rows value specified. This is especially useful when one wants to quickly examine data in a file.

In [ ]:
# instead of reading the entire file, we could specify the number of rows

file_path = "../datasets/pydata_datasets/movielens/movies.dat"

df = pd.read_table(
    file_path,
    header=None,
    names=['num', "title", "year", "genre", ''],
    sep='(\d+)::([^:]+)\s\((\d+)\)::(.*)',
    engine='python',
    keep_default_na=False,
    nrows=3
)

df


---|||
### Reading in chunks, by specifying the chunksize

When the chunksize value is specified, an iterator over the chunks of data in the file is returned.

Here, if the **chunksize == p**, then p amount of rows will be returned everytime we call **next** on the iterator (or we iterate using for loop), until, there are no more data to iterate over

More interestingly, we can call the **get_chunks(size=val)** method, and specify a certain **val**, over the iterator returned, to

- read less than the value of rows that would have been returned in a given iteration,  **if val < p**

- read more than the value of rows that would have been returned in a given iteration, **if val > p**

- read a given number of rows from a given iteration, based on the value of the specified size in the **get_chunks** method

In [ ]:
file_path = "../datasets/pydata_datasets/movielens/movies.dat"

# specify the chunksize to get an iterator

chunk = pd.read_table(
    file_path,
    header=None,
    names=['num', "title", "year", "genre", ''],
    sep='(\d+)::([^:]+)\s\((\d+)\)::(.*)',
    engine='python',
    keep_default_na=False,
    chunksize=20
)

# in this iteration get the firs 20 rows
next(chunk)

# in this iteration, we get 22 rows; more than the chunksize specified
print(chunk.get_chunk(size=22).shape)

# in this iteration, we get the default chunksize specfied; 20
print((next(chunk).shape))

# in this iteration, we get 10 rows; less than the chunksize specified
print(chunk.get_chunk(size=10).shape)

In [ ]:
file_path = "../datasets/pydata_datasets/movielens/movies.dat"

# specify the chunksize to get an iterator

chunk = pd.read_table(
    file_path,
    header=None,
    names=['num', "title", "year", "genre", ''],
    sep='(\d+)::([^:]+)\s\((\d+)\)::(.*)',
    engine='python',
    keep_default_na=False,
    chunksize=10
)

# print the number of iterations it takes to read the entire file
count = 0
tot_rows = 0
for piece  in chunk:
    count += 1
    tot_rows += piece.shape[0]
    # print((piece.shape))

'It took {0} iterations to read {1} number of rows'.format(count,  tot_rows)


---|||
### Writing Data To Text Format

Using the **to_[format]**, we can save a dataframe data to disk based on the format specified


dataframe.to_[format]([name.[format])


- dataframe.to_excel([name.xlsl]): to excel format
- dataframe.to_csv([name.csv]): to csv formatted
- dataframe.to_json([name.json]): to json

In [ ]:
file_path = "../datasets/Employees.csv"

df = pd.read_csv("../datasets/Employees.csv", index_col=0)
df

In [ ]:

# to json; the record format omit the index 

df.to_json("employee.json", "records")

In [ ]:
# save to csv fomat, 
# but instead of the delimeter being comma, we use |

df.to_csv("employee.csv", sep="|")

In [ ]:
# observe the following data
file_path = "a.txt"

# since it is a .txt file, we use the read_table format
# actually, we could have used a read_csv, since we know it is comma seperated

df = pd.read_table(file_path, sep=',', index_col=0)

df

#### Observations

There are missing values in the Name column, to replace this, missing values with another value, we could have used the **converter** method while reading the file.

However, we want to save this data to disk, and replace any missing values with **another name**.

To achieve the above, we pass the **value** to **na_rep** key. This value will  stand in for the missing values in the dataframe

In [ ]:
df.to_csv("employee_NULL_for_NA.csv", sep='|', na_rep="NULL")

In [ ]:
# we could also remove the column labels by passing a header as false
df.to_csv("employee_NULL_for_NA_w-o_header.csv", sep='|', na_rep="NULL", header=False)

In [ ]:
# we could also remove the index by passing an index key as false
df.to_csv("employee_NULL_for_NA_w-o_header_w-o_index.csv", sep='|', na_rep="NULL", header=False, index=False)

In [ ]:
# instead of writing the output to a file, by passing the file name,
# we could output the result into standard output, which will just print the result

# get the stdout
from sys import stdout

df.to_csv(stdout, sep='|', na_rep="NULL", header=False, index=False)

In [ ]:
# we can also indicate which columns we are interested in

# we could also remove the index by passing an index key as false
df.to_csv(stdout, sep='|', na_rep="NULL", index=False, columns=["Department", "YearOfService"])


---|||
### Binary Data Formats

One can take data in a different format and store it in binary format, in a process known as serialization

The reverse is known as deserialization.

In [ ]:
# read a csv file and save it in binary format

f = lambda x: "NULL" if not x else x

df = pd.read_table("a.txt", index_col=['Unnamed: 0'], sep=',', converters={'Name': f})

df

In [ ]:
# store it to binary format

df_bin = df.to_pickle("employee_NULL_w-o_header_to_binary")

In [ ]:
# load the binary file

df = pd.read_pickle("employee_NULL_w-o_header_to_binary")
df


---|||
### Storage Formats

HDF5: Hierachical Data Format

This is a file format used for **storing large quantities** of scientific array data. 

An HDF5 file can store multiple datasets, and metadata as a key-value pair. Interestingly, it supports the compression of those file, using **a variety of compression modes**, so that data with repeated pattern are stored efficiently.

In [ ]:
# store a dataframe in HDF5 format

# create the dataframe
df = pd.DataFrame({'a': np.random.randn(100)})

# store as hdf
store = pd.HDFStore('data.h5')

In [ ]:
# store the dataframe

store['obj1'] = df

In [ ]:
store['obj1_col'] = df['a']

In [ ]:
print(store.info())

In [ ]:
# retrieve the df

store['obj1']

In [ ]:
# retreive the data in col a

store['obj1_col']


---|||
### Storage Schema

Two schema (i.e. mode of storing data) are supported by HDF5Store;

- fixed: fast, but doen't support query operations

- table: slow, but supports query operation

In [ ]:
df2 = pd.DataFrame({'b': np.random.randn(40), 'e': np.random.randn(40)})

store.put('obj2', value=df2, format='table')

In [ ]:
# note, if storage schema is "fixed, then this query operation will fail
store.select('obj2', where=['index >= 10 and index <= 15'])

In [ ]:
# close the storage

store.close()

In [ ]:
# confirm close

store['obj1']

In [ ]:
# performing the same operation using read_hdf5, and to_hddf. 
a = np.arange(20).reshape((10, 2))

df  = pd.DataFrame(a, columns=['a', 'b'])

df.to_hdf('rdata.h5', 'obj', format='table')

In [ ]:
pd.read_hdf('rdata.h5', 'obj', where= ['index >=3', 'columns = a' ])


---|||
# Chapter 7: Data Cleaning and Preparation

> Note: cleaning and preparing data should be done within the context of the analysis of the data, how the data is collected

**Steps Involved in Cleaning and Preparing Data for Analysis**

- **Filtering**:

    - duplicates
    - missing values
    - badly represented string values
    - detecting outliers

- **Transformation**:
    
    - mapping data to new form
    - replacing data 
    - transforming badly represented string values
    - renaming indexes (rows and column index)

Cleaning involves removing data-points that will have adverse effect on the kind of analysis we want to perform on the data. This involve;

- missing data
- duplicates fata
- badly processed data (e.g. strings that contains special characters)

Preparation on the other hands comes after cleaning. It involves processing the cleaned data to a form that is suitable for the analysis to be be performed. This includes;

- joining
- grouping


---|||
### Querying A Series or Dataframe for Missing Data

- isnull: returns an array of boolean with True specified for sentinel value
- notnull: returns an array of boolean with False specified for sentinel value

In [ ]:
from numpy import nan as NA

In [ ]:
data = {
    'a': [1, NA, 3, 6, 9, NA],
    'b': [2, 4, NA, NA, 8, 10],
    'c': [NA, NA, 10, NA, 20, NA ]
}

# create a dataframe

df = pd.DataFrame(data)

df

In [ ]:
# use the isnull to check for all the sentinel values in column a

df['a'].isnull()

In [ ]:
# check all the non-null values in column b

df['b'].notnull()


---|||
### Filtering Missing Data

**dropna**

This by default drop any rows containing a sentinel value.


Customization:

- axis: 0 (rows), 1(columns)
- how: "all" or "any"
- thresh: indicates the number of non-sentinel values required to NOT drop

In [ ]:
df

In [ ]:
# remove all the rows containing missing data

df.dropna()

In [ ]:
# add a new column containing non-sentinel values

df['d'] = 33

df

In [ ]:
# instead of remove rows by default, remove columns containing sentinels

df.dropna(axis=1)

In [ ]:
# specify the number of non-sentinel values as condition for dropping a row

# only remove rows that contains less than 2 non-sentinel values

df.dropna(thresh=2)

In [ ]:
# use axis 1

df.dropna(axis=1, thresh=4)

In [ ]:
# add a new index to the dataframe

df = pd.DataFrame(df, index=[0, 1, 2, 3, 4, 5, 6])

df

In [ ]:
# specify that only rows where all values are sentinel be dropped

df.dropna(how="all")

In [ ]:
# add an e column containing missing values

df = pd.DataFrame(df, columns=['a', 'b', 'c', 'd', 'e'])

df

In [ ]:
# specify that only columns where all values are sentinel be dropped 

df.dropna(axis=1, how="all")


---|||
### Filling Missing Data

The consideration here is to replace the missing data with another value, so as to avoid discarding non-sentinel data from the series or dataframe

**fillna**: used to fill sentinel values in a dataframe

Customization:

method: "ffill", "bfill"

In [ ]:
df

In [ ]:
# fill all sentinel values with a 0

df.fillna(0)

In [ ]:
# we can chose how to fill sentinel values by columns

df.fillna({'a': 22, 'b': 111, 'c': 999, 'd': 1000, 'e': 333})

In [ ]:
df

In [ ]:
# we can chose to fill sentinel values in each columns by the last valid value before the sentinel in that column

df.fillna(method="ffill")

In [ ]:
df

In [ ]:
# we can also specify the number of values we want to forward fill (ffill)

# we only fill one sentinel value that follow each other consecutively using the last valid value

df.fillna(method="ffill", limit=1)

In [ ]:
df

In [ ]:
# used bfill to fill the sentinel values
# using the first valid value after the sentinel value

df.fillna(method="bfill")


---|||
### Data Transformation

This involves transforming the data to produce a standardized version of the data that can be used in analysis. Transforming the data includes;

In [ ]:
data = {"a1": [3, 4, 6, 3, 4, 6, 3], "a2": [3, 4, 6 ,3, 4, 6, 3], "a3": [1, 4, 6, 1 ,4, 6, 5]}

# create the dataframe with only four unique index 

df = pd.DataFrame(data, index=["one-1", "two-1", "three-1", "one-2", "two-2", "three-2", "four-1"])

df

In [ ]:
# check for duplicates data in all the columns
# note, the index is not considered in duplicated operation by default

df.duplicated()

# indicates that 5th and 6th rows are duplicated

# ---
df

In [ ]:
# select duplicates based on a subset of columns

# check for duplicates in a1 and a2

df.duplicated(subset=["a1", "a2"])

In [ ]:
# select duplicates based on a subset of columns

# check for duplicates in a1 and a3

df.duplicated(subset=["a1", "a3"])

In [ ]:
# select duplicates based on a subset of columns

# check for duplicates in a2 and a3

df.duplicated(subset=["a2", "a3"])


---|||
### Filtering out Duplicated Data

**drop_duplicates**

By default, it drops the duplicated rows; here the elements in all the columns must match. This can be customized to choose a subset of the columns that will be considered before dropping the rows.

In [ ]:
df

In [ ]:
# remove duplicated data, whose values match in all the columns
# this method does not remove both the original and duplicates... 
# it only removes the duplicated data

df.drop_duplicates()

In [ ]:
# we can customize this to remove both the orginal and duplicates

df.drop_duplicates(keep=False)

In [ ]:
# we could instead keep the last duplicates

df.drop_duplicates(keep="last")

In [ ]:
# or we could keep the first which is the default

df.drop_duplicates(keep="first")

In [ ]:
# lets use the columns subset to drop duplicates

# any duplicate in a1, and a2, should be used to drop the duplicates

df.drop_duplicates(subset=["a1", "a2"])

In [ ]:
# any duplicate in a2, and a3, should be used to drop the duplicates

df.drop_duplicates(subset=["a2", "a3"])


---|||
### Transformation Using A Function

Instead of dropping missing data, and losing other valid datapoints with it, we may wish to transorm the sentinel values to another value that won't have adverse effect on the analysis. 

A function or mapping is specified to transform data in a series or columns in a dataframe.

In [ ]:
# 

data = {
    "country": ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
    "population": [20, 10 ,1, 3, 1.5, 4, 2, 9]
}

file_path = "a.txt"

df = pd.read_table(file_path, sep=',', index_col=0)
df

In [ ]:
# fill all the na values with "null"

df.fillna({"Name": "null"}, inplace=True)

In [ ]:
df

In [ ]:
# let standardize the data so that all the data in 
# department and name are in uppercase

df["Department"] = df.loc[:, ["Department"]].applymap(lambda x: x.upper())
df["Name"] = df.loc[:, ["Name"]].applymap(lambda x: x.upper())


---|||
### Stringifying a Series

This will convert all the data in the series to  their string representation. When this succeed, string methods can be applied on each data in the series.

> Note: this applies only to a series

In [ ]:
# we could have achieved the same thing as above by
# first converting it to a string format, and then use strings method

df.loc[:, "Department"].str.lower()

In [ ]:
df


---|||
### Series Map method

This accepts a dictionary or function that takes a datapoint and map it to another value; IF the argument is a:

**Dictionary**

==series.map([dictionary={key:value}])==

Then it would map each **key** that is contained in the **series instance** to a new **value**. IF the key is however not present in the series, it would be mapped to nan.

**Function**

==series.map(function)==

Then the function would be apply to each datapoint to produce the corresponding output

In [ ]:
df

In [ ]:
df["Department"] = df["Department"].map(lambda datapoint: datapoint.lower())
df["Name"] = df["Name"].map(lambda datapoint: datapoint.lower())

df

In [ ]:
# lets map marketing - sales, engineering - tech and accounting - finance

df["Department"].map({"marketing": "sales", "engineering": "tech", "accounting": "finance"})

In [ ]:
# we could have done the above using a custom function

def department_mapping(datapoint: str):
    # accounting
    if datapoint.startswith('a'):
        return "finance"

    # engineering
    if datapoint.startswith("e"):
        return "tech"

    # marketing
    # since we know our datapoint falls into these three categories,
    # ... and that there are no sentinels in this column, ... 
    # we know that marketing is the only category that hasn't been checked. 
    return "sales"
    # if datapoint.startswith("m"):
        # return

In [ ]:
# apply the funtion
df["Department"].map(department_mapping).str.capitalize()


---|||
### Data Replacement

This generally involves substituting another value for sentinels and non-sentinels datapoints.

This is more flexible than using the **fillna** method

**replace(to_replace, value(opt))**

**Single Replacement**

- **datapoint** to a **value**

**Multiple Replacement**

- a **list of datapoints** to a **list of values**: both lists length must match

- we can use a dictionary such that:
    - **keys** specifies the datapoints to replace, and
    - **values** specfies what to replace the datapoints with

    > if this is intended, then the **value optional parameter** would not be passed

    IF the value parameter is however specified, this imply that, we want to search a dataframe having its column as the **keys** specified, and to search for any datapoints equal to the **value** specified, and replace those datapoints to the one given in the **list of values specified in the optional value parameter.

- we can also use a dictionary that contains another dictionary such that;

    - the outer dictionary is such that its;
        - **keys**: represent the columns to perform the replacement operations
        
        - **values**: is the inner dictionary containing;
            - **keys** representing the datapoints to replace
            - **values** representing what to replace the datapoints with

    > Here also, the **value optional parameter** will not be specified

In [ ]:
df

In [ ]:
# use replace to perform the same mapping above

df.replace({
    "Department": 
        {
            "accounting": "finance",
            "marketing": "sales",
            "engineering": "tech"
        },
    "Name": {
            "null": "Mo"
        }
        
})

In [ ]:
# using another dictionary format

df.replace({"Name": "null" }, value= "Xango")

In [ ]:
# using list

df.replace(
    ["null", 'engineering', 'accounting', 'marketing'],
    ["Xango", "Techers", "Salers", "Financers"]
 )


---|||
### Renaming Axis Indexes

The axis indexes can be replaced by calling the map method an instance.

In [ ]:
# get the index

df.columns

In [ ]:
# rename the index to uppercase

to_uppercase = lambda x: x.upper()  

df.columns = df.columns.map(to_uppercase)

In [ ]:
df

In [ ]:
# using the rename method instead creates a copy

df.rename(columns=str.lower)

In [ ]:
# use a dictionary instead
# remember the columns are already in uppercase, hence making the keys in uppercase
df.rename(columns={
    "department".upper(): "Department",
    "name".upper(): "Name",
    "yearofservice".upper(): "YearOfService"
})


---|||
# Discretizing and Binning Data

This allows separating data into a given discrete value.

In [ ]:
df


---|||
### **cut** function

Takes a one-dimensional array and a segment that determines how the data would be divided.

It returns a series with its values as the segment where each datapoints falls in

NOTE:

- if an array is passed to cut for binning, a **Categorical** object is returned, and we can access the index of the categories (codes) and categories by using the attributes directly

- if a series is passed, then a series is returned. To access the codes and and categories attribut, we must first convert the returned series to a categorical object using the **cat** attribute.

In [ ]:
# divide the year of service into bins 1 to 2, 3 to 7, 8 to 12, and 13 to higher values

bins = [0, 2, 7, 12, 20]

category = pd.cut(df["YEAROFSERVICE"], bins)
category

In [ ]:
# get the categories each datapoints falls into

category.cat.categories

Observe that the categories are close to the right and open to the left; i.e. (., .]

This can be changed by specfiying the **right** parameter in the cut instance

In [ ]:
# get the index of each category the data points falls into

# 0 -> (0, 2], 
# 1 -> (2, 7]
# 2 -> (7, 12]
# 3 -> (12, 20]
category.cat.codes

In [ ]:
# divide the year of service into bins 1 to 2, 3 to 7, 8 to 12, and 13 to higher values

# have a closed interval at the leftm and open to the right
bins = [0, 2, 7, 12, 20]

category = pd.cut(df["YEAROFSERVICE"], bins, right=False)
category

In [ ]:
# get how many values falls in each segments using value_counts

pd.value_counts(category)

It is possible to pass an identifier to identify each segments

This is achieved using the **label optional parameter**

In [ ]:
# divide the year of service into bins 1 to 2, 3 to 7, 8 to 12, and 13 to higher values

bins = [0, 2, 7, 12, 20]

# since we have four segment, we must pass a list having four label

category = pd.cut(
    df["YEAROFSERVICE"],
  bins, 
    labels=[
        "> 0 and <= 2",
        "> 2 and <= 7",
        "> 7 and <= 12",
        ">12 and <=20"
    ])

category

In [ ]:
# view the category

category.cat.categories

In [ ]:
# we can pass an integer for bin, and it will  compute equal length bins

# divide the year of service into bins 4 to higher values

category = pd.cut(df["YEAROFSERVICE"], bins=4)
category.cat.categories

In [ ]:
# constrain the floating point values to a given precision
# by passing a precision parameter

data = np.random.random(20)

category = pd.cut(data, bins=4, precision=3)
category.categories


---|||
### Binning Using Quantiles using **qcut**


In this case, it will bin the datapoints into the specified integers, where:

- 2 ==> into two
- 4 ==> into quartiles
- 100 ==> percentiles

e.t.c

In [ ]:
# divide the YearOf Service into percentiles

category = pd.qcut(df["YEAROFSERVICE"], 100, duplicates="drop")

category

In [ ]:
# check how many categories

category.cat.categories.value_counts()


---|||
### Detecting and Filtering Outliers

**sign method(it is a numpy method)** : takes a dataframe or series, and produce
-  (+1) if the element is postive

-  (-1) if the element is postive

    and return the corresponding series or dataframe

**sample method**: takes a series or dataframe, and generate a random sample based on the number passed as argument. Additionally, the replace boolean keyword can modified such that IF set to;

- True: the sample will be generated **with replacement**: the sample size can be greater than the population size

- False: the sample will be generated **without replacement**: the sample size must be less than the population size

**take method**: takes an array of row index, and produce the series or data frame with the passed row indexes

In [ ]:
np.sign(pd.Series([-3, 4, -7, 8]))

In [ ]:
data = np.random.randn(20).reshape((5, 4))

df = pd.DataFrame(data, columns=['a', 'b', 'c', 'd'])

df

In [ ]:
# sign

np.sign(df)

In [ ]:
# take method

df.take([0, 3, 2])

In [ ]:
# take 3 samples without replacement: 
# in this case the sample(n=3) cannot be greater than the population (total n = 5)

df.sample(n=3, replace=False)

In [ ]:
# take 10 samples with replacement
# in this case the sample(n=10) can be greater than the population (total n = 5)

df.sample(n=10, replace=True)


---|||
### Computing Indicator/Dummy Variables

Converting a **categorical variable** into a **dummy or indicator matrix** using the categorial variable: with 0 indicating absent, and 1 indicating present

In [ ]:
df = pd.DataFrame(
    {'key': ['i', 'j', 'k', 'j', 'k', 'i', 'p', 'j', 'p'],
     'data': range(9)
})

df

In [ ]:
# create the indicator matrix

# this creates a matrix, with 0 indicating absent, and 1 indicating present

pd.get_dummies(df["key"])

In [ ]:
# add a prefix to the categorical variable

dummy_matrix = pd.get_dummies(df['key'], prefix='category')

dummy_matrix

In [ ]:
df_with_dummy = df[['data']].join(dummy_matrix)
df_with_dummy

In [ ]:
# indicator matrix using the movielens dataset

file_path = "../datasets/pydata_datasets/movielens/movies.dat"

# movies = pd.read_table(file_path, header=None, names=["movie_id", "title", "genre"], sep="::")
movies = pd.read_table(file_path, header=None, names=["movie_id", "title", "genre"])

movies.iloc[37]

In [ ]:
file_path = "../datasets/pydata_datasets/movielens/movies.dat"
f = lambda x: int(x) if not np.nan else x
mov = pd.read_table(
    filepath_or_buffer=file_path,
    sep=r"(\d*)::\s?(.+)\((\d*)\)?::(.*|\s)$",
    engine="python",
    header=None,
    names=["num", "movie_id", "title", "year", "genre_1", ""],
    converters={"year": f, "genre_2": g}
)

mov

In [ ]:
mov_cleaned = mov.dropna(how="all", axis=1)

In [ ]:
mov_cleaned

In [ ]:
gen = mov.genre_1.str.strip()
gen = gen.str.split("|")

gen.str.join(", ")

In [ ]:
# get the unique genres

genre = df["genre"].str.strip()
genre = genre.str.split('|')

genre

In [ ]:
# add all the result into a single list
all_genre = []

for x in genre:
    all_genre.extend(x)
len(all_genre)

In [ ]:
# get the unique ones

uniq_genre = pd.unique(all_genre)

uniq_genre

In [ ]:
# construct the indicator matrixe

# remember, the categorical variable will be the columns of the matrix, and
# the rows of the matrix will correspond to that of the entire dataset

# create a zero_matrix, that will have the shape of the resulting indicator matrix
zero_matrix = np.zeros((len(movies), len(uniq_genre)))

# create the dataframe, with 0's, but the columns are the categorical variable (uniq_genre)
dummies = pd.DataFrame(zero_matrix, columns=uniq_genre)
dumies_copy = dummies.copy()
dummies.head()

In [ ]:
for i, gen in enumerate(movies.genre):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, indices] = 1

# this is the same as above
# for i, genre in enumerate(movies.genre):
#     genre = genre.split('|')

#     dumies_copy.loc[i, genre] = 1

In [ ]:
movies_with_indicator = movies.join(dummies.add_prefix("Genre_"))

In [ ]:
movies_with_indicator.tail()

In [ ]:
# we have to iterate through the movies, genre, 
# and if a row has a given genre in its values, 
# we should add a 1 to the the column containing the genre

movies.head()

genre = movies.genre
genre.str.contains('Animation')

np.where(cond, 1, 0)

In [ ]:
dumies_copy


---|||
### String Manipulation & Regular Expression

**Important String Methods**

- *startswith and endswith*
- *join*
- *find*: returns -1 if it fails to find the requested data
- *strip, rstrip and lstrip*: trim whitespaces, including newlines(\n)
- *replace*
- *split*

---|||
#### Regular Expression

- **Compiling a regular exepression**:

Suppose we want to apply a regular expression method on different strings for the purpose of processing the strings, then it is better, for efficiency, to compile the regular expression, before calling the method on the strings. 


- **Regex Methods**

0. **compile**: this allows us to compile the regex, and possible flags, so that we can utilize it with different methods (as given below) by saving us the compilation step. Consequently, it saves us of CPU cycles.

1. **search**: returns an object that can be queried for the *starting* and *ending* position of the first match.

2. **match**: it does the same thing as *search* above. But it starts matching at the beginning of the string, **unlike *search that scans through the string to find its first match**

3. **findall**: this returns all the matches

4. **split**: similar to Python native split method on strings, although this is now within the context of regex.

5. **sub**: returns a new string with the matched occurences replaced with a new strings

In [463]:
# import the regular expression library

import re

In [502]:
text = "  foo      bar\t  baz     \tqux"

# compile the regular expression "\s+", so we can use different methods on it
regex = re.compile('\s+')

In [ ]:
# return the position where the first match occurs

regex.search(text)

In [ ]:
# split on matches

regex.split(text)

In [ ]:
regex.match(text)

In [ ]:
# find all the matches

regex.findall(text)

In [ ]:
regex.sub("REPLACEMENT-TEXT", text)


---|||
### Vectorized String Functions In Pandas

Pandas allows the use of native python string methods, and regex methods, through "stringifying" a column using the **str** attributes.

In [510]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com','Rob': 'rob@gmail.com', 'Wes': np.nan}

In [512]:
data = pd.Series(data)

In [ ]:
data

In [539]:
pattern = '([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [ ]:
data.str.findall(pattern, flags=re.IGNORECASE)

In [ ]:
matches = data.str.match(pattern, flags=re.IGNORECASE)

matches

In [ ]:
data.str.get(1)


---|||
# Chapter 9: Plotting and Visualization

**Importance of Visualization in Data Analysis**

- Identify Outliers
- Identify a possible need for Data Trasnformation
- Generating ideas for model
- Building interactive visualization for the web

**matplotlib**: is a python package for creating publication-quality plots  (mostly two-dimensional visualization), and these plots can also be exported to different formats such as PDF, SVG, JPG, PNG, GIF,e.t.c.

**seaborn**: "is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics."

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
data = np.arange(10)

data

In [ ]:
# a simple plot of datapoints

plt.plot(data)


---|||
### The Figure Object

All plots in **matplotlib** resides within a **Figure** object. 

A mental model to reason about Figure is to think of it as the *canvas* that we plot on.

It is possible to have multiple plots on a Figure object using **add_subplot**

In [ ]:
# create a new figure object
fig =plt.figure()

# create a (sub)plot on the figure object

# the add_subplot argument takes three argument: nrows, ncols, and the index

# 2 x 2 figure object => 4 plots in total, this will be the 1st plot

ax1 = fig.add_subplot(2, 2, 1)  

# 2nd plot
ax2 = fig.add_subplot(2, 2, 2)

# 3rd plot
ax3 = fig.add_subplot(2, 2, 3)

# 4th plot
ax4 = fig.add_subplot(2, 2, 4)

plt.plot(data) # automatically plot on the last subplot

# we explicitly specified the first one with a style option (k--)
ax1.plot(np.random.randn(50).cumsum(), 'k--') # k-- => black dashed line 

# selecting the third, and specifying a style option (b-)
ax3.plot(np.random.randn(50).cumsum(), 'b-') # the b- => blue and solid line


# plot a histogram 

_ = ax2.hist(
    np.random.randn(100),
    bins=20,
    color='r',
    alpha=0.3
)

Another convenient method, for creating subplots on a figure object is by using the **subplots** method, which will in turn **create a new figure object, and returns a NumPy array containing the created subplot objects**.

**Arguments to The *subplot* method**

- nrows: how many rows we want on the figure object
- ncols: how many columns we want on the figure object
- sharex: a boolean that determines whether all the subplots must use the same x-axis ticks (values)
- sharey: a boolean that determines whether all the subplots must use the same y-axis ticks (values)
- figsize: used to set the width and height of the figure object
- alpha: used the modify the transparency of the plot with respect to the background color

The returned array, containing the axes objects, can easily be indexed to create subplots

In [ ]:
# create 9 (3 x 3) subplots object on a figure

fig, axes = plt.subplots(3, 3, sharex=None, figsize=(10,6))

# we use the tight_layout to avoid overlaps between subplots
plt.tight_layout()

# create a plot on the axes in the second row, second column
axes[1, 1].plot(np.random.randn(100).cumsum())

# a plot of histograms on the remaining axes

for i in range(3):
    for j in range(3):
        if i == 1 and j == 1:
            continue
        axes[i, j].hist(np.random.randn(10000), bins=1000, color='g', alpha=0.5)

# change the spaces between axes such that they almost overlap
fig.subplots_adjust(wspace=0.1, hspace=0.25)


---|||
### Colors, Markers, and Line Styles

These are represented as keyword arguments:

**color**: either hexcode or abbreviations

- green: g
- red: r
- blue: b
- black: k, and many more

**linestyle**: the style used to fit the data points

- dashed = --
- star = *
- solid = -
- dashdot = -.
- dotted = :

**markers**: use to highlight the actual data points in the plots, passed as abbreviation

- o: circular
- p: pentagon
- d: diamond shaped
- h: hexagon
- x: cross
- *: star

In [3]:
from numpy.random import randn

In [ ]:
# explicitly specify the color, linestyle and marker
plt.plot(randn(90).cumsum(), color='g', linestyle= ':', marker='o')

# modify the labels on the x-axis
plt.xticks(np.arange(-10, 110, 20), labels=["a", "b", "c", "d", "e", "f"])

# modify the scale of the x-axis
plt.xlim(0, 100)

The same specification could be combined as follows:

In [ ]:
plt.plot(randn(50).cumsum(), 'g:o')

In plots, the resulting line is fitted to the actual data, while the subsequents parts (i.e. between data points) are interpolated.

It is possible to overide this interpolation using: 

- **drawstyle**:

In [131]:
data = randn(30).cumsum()

In [ ]:
plt.plot(data, 'r:o', label="Default")

plt.plot(data, 'b--o', drawstyle='steps-post', label='Steps-Post')

plt.xticks(np.arange(0, 34, 2))

# plt.xlim(0, 34)
plt.legend(loc='upper center')

**Labels**: this is a descriptive name given to a single plot

**Legends** allows the identification and display of **labels** on the figure. Any single value or a combination of the following will determine the locations of the **label(s)**; [lower, upper, right, left, center].

> Note: when a combination is used, then a space must seperate the values

**ticks** is used to indicate the divisions on the axes: **xticks** and **yticks** 

**wspace and hspace**: this is used to modify the width and height between subplots in a Figure object

**rotation**: used with **x(y)tickslabel** to determine if the labels should be rotated or not based on the rotation angle passed in

In [ ]:
fig, axes = plt.subplots(2, 1, figsize=(15, 10))

axes[0].plot(np.random.randn(25).cumsum(), "m--o", label="Gaussian-1")
axes[0].plot(np.random.randn(25).cumsum(), "r-", label="Gaussian-2")
axes[0].plot(np.random.randn(25).cumsum(), "r:", label="Gaussian-3")
axes[0].set_xticks(np.arange(0, 21, 5))
axes[0].set_xticklabels(["a", "b", "c", "d", "e"], rotation=45, fontsize="small")
axes[0].set_title("Plot of Random Normally Distributed Numbers")
axes[0].set_xlabel("Checkers")
axes[0].legend(loc="best")
# axes[0].legend(loc="upper left")

# second plot with properties from a dictionary

props = {
    'title': "Randomly Generated Number",
    'xlabel': "Randoms",
    'ylabel': "Y-Values",
    'xticklabels': ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
}

axes[1].plot(np.random.random(30).cumsum(), 'r-.x', label="Non-Gaussian")
axes[1].plot(np.random.randn(25).cumsum(), "r:", label="Gaussian")
fig.subplots_adjust(hspace=0.5)
axes[1].set(**props)
# axes[1].legend(loc="upper left")
axes[1].legend(loc="best")

In [ ]:
fig = plt.figure()
fig.set_figheight(10)
fig.set_figwidth(12)

ax1 = fig.add_subplot(2, 2, 1)

ax1.plot(np.random.randn(1000).cumsum())

ax2 = fig.add_subplot(2, 2, 2)

ax2.plot(np.random.randn(1000).cumsum())

ax3 = fig.add_subplot(2, 2, 3)

ax3.plot(np.random.randn(1000).cumsum())

ax4 = fig.add_subplot(2, 2, 4)

ax4.plot(np.random.randn(1000).cumsum())


ax2.text(700, 8, "Morayo Lol", family="monospace", fontsize=12)

In [ ]:
fp = "../datasets/examples/spx.csv"

df = pd.read_csv(fp, index_col=0, parse_dates=True)
df.head(15)

In [8]:
# plot and annotate the closing S&P 500 index price, with important dates

from datetime import datetime


---|||
### Annotation

Parameters:

- **text**-*string*: represents the **label**, usually text, that will be used to annotate the specific (data)point.

- **xy**-*tuple*: a tuple containing the coordinates of the points to be annotated.
    It is important to note that based on the data type (e.g datetime, int, float e.t.c), one can **add a value to the corresponding y coordinate so that the label does not sit *directly* on the data point**. One can also do this to the x cordinate if necessary. 

- **xytext**-*tuple*: this perform the same operation as **xy** above, but unlike **xy**, **xytext** determines the **position of the *label* with respect to the identifier (or an arrow pointing to the annotated (data)point)**

- **arrowprops**-*dict*: a mapping that determines the properties of the arrow identifying the (data)point to be annotated. One can specify the key-value pair for customizing the identifier:

    - *facecolor*: color of the arrow
    - *headwith*: specify the width of the arrow head
    - *headlength*: specifies the length of the arrow head
    - *width*: how wide the arrow body should be
    - *horizontalalignment*: specifies the horizontal position of the label w.r.t the arrow identifier - *left, center, right*
    - *verticalalignment*: specifies the vertical position of the label w.r.t the arrow identifier - *top, bottom, center, baseline, center_baseline*

In [ ]:
# create the canvas

fig = plt.figure()
fig.set_figheight(7)
fig.set_figwidth(10)

# add a sub-figure
ax = fig.add_subplot(1, 1, 1)

# get the data we need for plotting
spx = df['SPX']

# plot the spx data
spx.plot(ax=ax, style='m-')

# annotation data indicating the crisis year
crisis_data = [
    (datetime(2007, 10, 11), 'Peak of Bull Market'),
    (datetime(2008, 3, 12), 'Bear Stearns Fails'),
    (datetime(2008, 9, 15), 'Lehman Bankruptcy')
]

# use the crisis data with datetime as x and corresponding string as y to annotate
for date, label in crisis_data:
    ax.annotate(label, xy=(date, spx.asof(date) + 75),
                xytext=(date, spx.asof(date) + 220),
                arrowprops=dict(facecolor='black', headwidth=4, width=1, headlength=3),
                horizontalalignment='left', verticalalignment='center')

# zoom in on 2007 - 2010
props = {
    "xlim": ['1/1/2007', '1/1/2011'],
    "ylim": [600, 1800],
    "title": "Important Dates in the 2008-2009 financial crisis"
}

ax.set(**props)

Creating Shapes and Adding it to A Figure using **add_patch**

In [ ]:
fig = plt.figure()
fig.set_figheight(7)
fig.set_figwidth(10)
ax = fig.add_subplot(1, 1, 1)

rect = plt.Rectangle((0.2, 0.7), width=0.3, height=0.2, rotation_point=(0.1, 0.4), color='m', alpha=0.3)

circ = plt.Circle((0.7, 0.2), radius=0.1, color='g', alpha=0.3)

pgon = plt.Polygon([[0.15, 0.15], [0.35, 0.4], [0.2, 0.6]], color='r', alpha=0.2)


# add shapes to figure

ax.add_patch(circ)
ax.add_patch(rect)
ax.add_patch(pgon)

# save  fig

plt.savefig('myplots.png', dpi=1000, bbox_inches='tight', facecolor='yellow', edgecolor='red')

### Saving Figures and Customization

- **file-name** and **extension**: used in the file name;  pdf, png, jpeg, jpg, svg

- **dpi**: this controls the resolution; the higher the value, the higher the resolution 

- **facecolor**: background color outside of subplots

- **format**: explicit file format to use if not specified as the extension in file-name; pdf, svg, png e.t.c.

- **bbox_inches**: portion of figure to save: 'tight' will trim the empty space


---|||
### Matplotlib Configuration

**matplotlib** can be globally configured, using the pyplot **rc** method

pyplot.rc('what to configure', '[new configuration]')

In [206]:
# set all figures to be of size 10 x 5

plt.rc('figure', figsize=(10, 6))

# configure the fonts

plt.rc('font', family='monospace', weight='medium', size=12)

In [ ]:
plt.plot(np.arange(30))

In [191]:
import seaborn as sns

In [ ]:
plt.plot(np.arange(20))


---|||
### Line Plots

Using the pandas instance

In [ ]:
s = pd.Series(np.random.randn(10).cumsum(), index=np.arange(0, 100, 10))

s

In [ ]:
# using pandas plot method, that uses matplotlib at the backend
s.plot()

# this is equivalent to:
# plt.plot(s)

In [ ]:
df = pd.DataFrame(
    np.random.randn(1000, 4).cumsum(1),
    columns=['A', 'B', 'C', 'D'], # labels
    index=np.arange(0, 10000, 10)) # xticks

df.plot()


---|||
### Bar Plots

Horizontal and Vertical Bar plots:



> Using a DataFrame to make a bar plot, groups the data points in each row together in a group in bars, side by side, for each value.

In [ ]:
fig, axes = plt.subplots(2, 1)

data = pd.Series(np.random.rand(16), index=list('abcdefghijklmnop'))


data.plot.bar(ax=axes[0], color='m', alpha=0.8)
data.plot.barh(ax=axes[1], color='r', alpha=1)

In [ ]:
# using a dataframe

df = pd.DataFrame(np.random.rand(6, 4),
                  index=['one', 'two', 'three', 'four', 'five', 'six'],
                  columns=pd.Index(['A', 'B', 'C', 'D'], name='Genus'))
df

In [ ]:
df.plot.bar(alpha=0.7)

In [ ]:
# stack each group on each other

df.plot.bar(stacked=True, alpha=0.7)

In [ ]:
df.plot.barh(stacked=True, alpha=0.7)

A data visualization example using the tips datasets for customers patronizing a weekend **party club** containing the following columns

- **total_bill**: the total amount (plus tips) paid by the customer(s)
- **tip**: amount of tips paid by the customer(s). Note(this value is also added to the total_bill)
- **smoker**: determines whether the customer(s) smokes or not.
- **day**: identifies the day (Thursday, Friday, Saturday, Sunday).
- **time**: identifies the time (Dinner, or Lunch)
- **size**: the number of people on the given table

In [ ]:
file_path = "../datasets/examples/tips.csv"

df = pd.read_csv(file_path)

df.head()

In [111]:
import seaborn as sns

plt.rc('figure', figsize=(10, 6), dpi=800)

### compare the number of customers based on days?

In [ ]:
# we should take all the size corresponding to sun, thur, fri, and sat and sum their corresponding sizes


data = {
    'Sun': np.where(df.day == 'Sun', df['size'], 0).cumsum().max(),
    'Sat': np.where(df.day == 'Sat', df['size'], 0).cumsum().max(),
    'Fri': np.where(df.day == 'Fri', df['size'], 0).cumsum().max(),
    'Thur': np.where(df.day == 'Thur', df['size'], 0).cumsum().max()
}

sns.barplot(data)

### compare days where customers gave the highest number of tips?

In [ ]:
data = {
    'Sun': np.where(df.day == 'Sun', df['tip'], 0).cumsum().max(),
    'Sat': np.where(df.day == 'Sat', df['tip'], 0).cumsum().max(),
    'Fri': np.where(df.day == 'Fri', df['tip'], 0).cumsum().max(),
    'Thur': np.where(df.day == 'Thur', df['tip'], 0).cumsum().max()
}

sns.barplot(data)


---|||
### Crosstab

Using the **class method** allows the tabulation of two *Series* object, usually with repitition. One of which will contain the column labels and the other, the row labels. The data points are then given as the number of occurences  of each (row, col) values

In [ ]:
a = pd.Series(np.array([0, 1, 1, 1, 2]))
b = pd.Series(np.array(['a', 'b', 'a', 'b', 'c']))

pd.crosstab(a, b)

In [ ]:
party_counts = pd.crosstab(df['day'], df['size'])

party_counts

In [ ]:
# remove the parties  whose size are not large; 1 and 6

party_counts = party_counts.loc[:, 2:5]

party_counts

In [ ]:
# normalize each rows, such the it sums to 1

p = party_counts.div(party_counts.sum(1), axis=0)
p

In [ ]:
# make a bar plot of the result

p.plot.bar()

In [ ]:
df['tips_pct'] = df['tip'] / (df['total_bill'] - df['tip'])

df.head()

In [ ]:
import seaborn as sns

sns.barplot(x='tips_pct', y='day', data=df, hue='time', orient='h')


---|||
### Histograms and Density Plots

A histogram gives a discretized display of value of frequency, in such a way that the datapoints are;

- split into discrete size

- evenly spaced bins

and the number of data points in each bin is plotted.

In [ ]:
file_path = "../datasets/examples/tips.csv"

tip = pd.read_csv(file_path)

tip.head()

In [ ]:
tip['tip_pct'] = tip['tip'] / (tip['total_bill'] - tip['tip'])

tip.head()

In [141]:
plt.rc('figure', figsize=(15, 10), dpi=800)
plt.rc('font', family='monospace', weight='medium', size=12)
plt.rc('axes', xmargin=0.05)
plt.rc('grid', alpha=0.5, color='m', linewidth=0.7, linestyle='--')

In [ ]:
import seaborn as sns
# tip['tip_pct'].plot.hist(bins=50)

sns.histplot(tip['tip_pct'], bins=50, color='m')


---|||
### Density Plots

While histogram discretizes the data, density plots makes the assumption that the data points are continuos, by approximatiing the data points with a continuos probability distribution, **that might have generated the data**.

- Density plots are also known as *Kernel Density Estimate*.

> it approximate the distribution as a mixure of **kernels** - simpler distribution like the normal distribution

In [ ]:
fig, ax = plt.subplots(4, 1)

tip['tip_pct'].plot.density(ax=ax[0])

# using mixures of normal estimate
tip['tip_pct'].plot.kde(ax=ax[1])

# using seaborn
sns.histplot(ax=ax[2], data=tip['tip_pct'], kde=True)


sns.displot(ax=ax[3], data=tip['tip_pct'], bins=50)


---|||
### Scatter Plots

This can be used to see the relationship between two variables using their data points

In [145]:
file_path = "../datasets/examples/macrodata.csv"

In [ ]:
macro = pd.read_csv(file_path)

macro.head()

In [ ]:
data = macro[['cpi', 'm1', 'tbilrate', 'unemp']]

data.head()

In [ ]:
# transform the data

trans_data = np.log(data).diff().dropna()


trans_data


---|||
**regplot** allows one to;

- a scatter plot of two variable
- determine their line of best fit on the same plot

In [ ]:
# scatter plot and determine the line of best fit
import seaborn as sns
sns.regplot( data=trans_data, x='m1', y='unemp')

plt.title('Changes in log %s versus log %s' % ('m1', 'unemp'))


---|||
### Pair/Scatter Plot Matrix

Allows plotting multiple scatter plots between group of variables. This is achieved using the **pairplot** method

In [ ]:
sns.pairplot(trans_data, diag_kind='kde', plot_kws={'alpha':  0.5})


---|||
### Facet Grids and Categorical Data

Unlike scatter plots where data is assumed to be continuos, **facets** grid visualization is used on data with many categorical variables. This is achieved using the **catplot**(instead of the deprecated **factorplot**) method

In this settings, the 

- **col** option is used to specify the how the multiple plots should be constructed. IF the option has; say three categorical variables, then three plots based with each categorical variable in each columns will be created

- **kind**: specify the type of plot, namely- **bar, strip, swarm, box, boxen, count, point, violin.**

- **hue**: this is used to specify that a given axis (usually x) can be categorized into two or more seperate variable, in which case, the corresponding plots are plotted side-by-side.

In [ ]:
file_path = "../datasets/examples/tips.csv"

tip = pd.read_csv(file_path)

tip.head()

In [ ]:
tip['tip_pct'] = tip['tip'] / (tip['total_bill'] - tip['tip'])

tip.time.unique()

In [ ]:
# plot multiple bar charts with the day on the x-axis and tip percentage freq on y

sns.catplot(x='day', y='tip_pct', hue='time', col='smoker', kind='bar', data=tip[tip.tip_pct < 1])


---|||
### Chapter 8: Data Wrangling: Join, Combine, and Reshape

---
---

## Hierarchial Indexing

This involves having more than one index levels on an axis.

In [ ]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], [1, 2, 3, 1, 3, 1, 2, 2, 3]])

data

In [ ]:
data.loc[['a', 'b'], [1, 3]]

In [13]:
# add a label to the row index

data.index.names = ['l', 'n']

#### Form a Dataframe where one index level (the inner) is used as columns and the other index level (the outer) is the row using **unstack**.

> By default, the outer-most index is used as the row- index. This can be changed using the level option

In [ ]:
data_unstacked = data.unstack(level=1)


data_unstacked

In [ ]:
# using the inner index to unstack

data_unstacked_inner = data.unstack(level=0)


data_unstacked_inner

#### Stack a dataframe so that the columns is used as another index

In [ ]:
data_unstacked.stack()

In [ ]:
# stacking the inner

data_unstacked_inner.stack()

In [ ]:
# swap the levels to achieve the original indexing

data_unstacked_inner.stack().swaplevel('l', 'n')

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4, 3),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])

df

In [ ]:
df.stack().stack()

In [172]:
df.index.names = ['key1', 'key2']

In [173]:
df.columns.names = ['state', 'color']

In [ ]:
df


---|||
### Reordering and Sorting Levels

This allows for rearrangement of the order of **levels** on an axis (using **swaplevel**) or the sorting of data by values in one specific level

In [ ]:
df.swaplevel('key2', 'key1')

Sorting using **sort_index**

In [ ]:
df.sort_index(level=1)

In [ ]:
# swap levels and sort index

df.swaplevel(0, 1).sort_index(level=0)


---|||
### Summary Statistics By Level

Summary statistics can be performed by aggregating data based on a specific index, through the level option.

> Note: the groubby(level=?).? should be used instead of specifying the option in the summary statistics

In [ ]:
df

In [ ]:
# instead of this, used the one below

# df.sum(level=1)

df.groupby(level=0).sum()

In [ ]:
df.groupby(level='state', axis=1).sum()


---|||
### Indexing with a DataFrame Column(s)

In [ ]:
df = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1), 'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'], 'd': [0, 1, 2, 0, 1, 2, 3]})

df

In [ ]:
# index with the b and d columns

df.set_index(['c' ,'b', 'd']).swaplevel('c', 'd')

In [ ]:
# set a new index using the colunns without dropping the indexing column(s)

df2 = df.set_index(['c', 'b'], drop=False)

df2

In [ ]:
df3 = df.set_index(['c', 'b'])

df3

#### Reset to an original indexing


NOTE: We can use reset_index if the **drop** option is set to true

In [ ]:
# reset index

df3.reset_index()


---|||
### Combining and Merging Datasets

Mechanism of combining Datasets

- **merge (or join)**  method: connects rows in dataframes based on one or more keys.

- **concat** method: concatenates (or stacks) objects together along an axis.

- **combine_first**: *splice* overlapping data to fill in missing values in one object with values from another object.

---
---

## Merge or Join

Allows the combination of one or more datasets by linking rows using one or more keys

In [29]:
df1 = pd.DataFrame({'key': list('bbacaab'), 'data1': range(7)})

df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

In [ ]:
df1

In [ ]:
df2

In [ ]:
# if the key to join on is not specified, then the overlapping column names will be used as keys

pd.merge(df1, df2)

In [ ]:
# explicity specify the key

pd.merge(df1, df2, on='key')

#### Note that only values that are the same in the keys are used for the join operation. Values that are not the same will not appear in the result.

> this is similar to using the **how='inner'** join keyword; which is the default

##### This can be overidden by specifying **how** the data should be joined - **(left, right, inner, outer). The corresponding data without the same key value will be NAN

In [ ]:
# change the left and right data

pd.merge(df2, df1, on='key')

In [ ]:
df3 = pd.DataFrame({
    'lkey': list('bbacaab'),
    'data1': range(7)
})

df4 = pd.DataFrame({
    'rkey': list('abd'),
    'data2': range(3)
})

df3

In [ ]:
df4

In [ ]:
# there are no overlapping keys; what should happen? Error?

pd.merge(df3, df4)

#### When there are no overlapping keys, then the **left_on** *AND* **right_on** options must be specified

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')


---|||
### Merge/Join Methods

- **INNER**: join using the keys present in both datasets. Keys that are absent are omitted in the join operation. *This is the default*

- **OUTER**: uses all the key combinations to perform the join operation. Here, any key not present in both datasets are *NOT* omitted in the result.

- **LEFT**: uses *ALL* the keys on the LEFT dataset, even if  a specific key is not present in the RIGHT dataset, to perform the join operation.

- **RIGHT**: uses *ALL* the keys on the RIGHT dataset, even if  a specific key is not present in the LEFT dataset, to perform the join operation.

> The *indicator* option shows where the join operation is performed

In [ ]:
# we want the "c" key to be present in the resulting output

pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='left', indicator='where')

In [ ]:
# right join to make sure key 'd' is present in the result
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='right', indicator='where')

#### OUTER join uses all the key combinations to perform the join operation, while INNER (the default) join  uses only key that are both present in the data

In [ ]:
# inner join 
pd.merge(df3, df4, left_on='lkey', right_on='rkey', how='outer')


---||| Join Operations

There are two ways data can be joined, based on the keys supplied;

- **many-to-one**: where one or more of the left keys are repeated, *AND* the right keys are not. In this settings, the keys are only 
  > All the above join operation is a *many-to-one*; 


- **many-to-many**, one or more of the left *AND* right keys are repeated. In this case, the join operation is such that the cartesian product between keys that on the left and right is performed.

E.g. If there are 4 keys on the left and 3 on the right labelled 'b', then the total combinations is 4 x 3 == 12.

**Visually**: let the left keys and right be as follows;
- left -> (b11, b12, b13, b14),
- right ->  (b21, b22, b23)

Combination would then be:

- (b11, b21), (b11, b22), (b11, b23)
- (b12, b21), (b12, b22), (b12, b23)
- (b13, b21), (b13, b22), (b13, b23)
- (b14, b21), (b14, b22), (b14, b23)

In [ ]:
# create two dataframe with keys repeated in both

df1 = pd.DataFrame(
    data={
        'key1': ['a', 'a', 'c', 'b', 'a', 'c', 'b', 'b', 'd', 'c', 'd'], 
        'data1': [2, 4, 5,1,6, 7, 9, 0, 1, 4, 10]})

df2 = pd.DataFrame(
    data={'key2': ['a', 'e', 'c', 'b', 'a', 'f', 'b', 'k', 'd', 'c', 'e'],
        'data2': [23, 49, 501 , 110.45, 603.2, 71.4, 90.1, 0.5, 100.3, 40.4, 20.5]})
df1

In [ ]:
df2

In [ ]:
# many-to-many join on key1 and key2

pd.merge(left=df1, right=df2, left_on='key1', right_on='key2', how='inner')


---|||
#### Joining on Multiple Keys

In [ ]:
# create two dataframe with keys repeated in both

df1 = pd.DataFrame(
    data={
        'key1': ['b', 'c', 'a', 'b', 'a', 'c'], 
        'key2': ['foo', 'bar', 'foo', 'foo', 'bar', 'bar'], 
        'data1': [2, 4, 5, 7, 8, 0]
    },
    index=[
      ['one', 'two', 'three', 'one', 'three', 'two'],
      [1, 1, 1, 2, 2, 3]
    ]  
)

df2 = pd.DataFrame(
    data={
      'key1': ['c', 'a', 'b', 'a', 'k', 'c'],
      'key2': ['bar', 'bar', 'foo', 'foo', 'bar', 'bar'], 

      'data2': [23, 71.4, 90.1, 100.3, 40.4, 20.5]
    },
    index=[
      ['two', 'one', 'two', 'three', 'one', 'three'],
      [1, 3, 2, 4, 2, 4]
    ],
)
df1

In [ ]:
df2

In [ ]:
# join on multiple keys; inner by default

pd.merge(left=df1, right=df2, on=['key1', 'key2'], indicator='where')

In [ ]:
# left join, so that all keys in df1 appears

pd.merge(left=df1, right=df2, on=['key1', 'key2'], how='left')

In [ ]:
# right join, so that all keys in df2 appears

pd.merge(left=df1, right=df2, on=['key1', 'key2'], how='right')

In [ ]:
# outer join, so that all keys in df1 and df2 appears

pd.merge(left=df1, right=df2, on=['key1', 'key2'], how='outer')


---|||
#### Join using **cross*

This performs all possible combinations between the keys even if they are not the same. In other words, unlike many-to-many that performs all possible combination between keys that are the same in both dataset, using the **cross** option performs the combination both on same keys and otherwise.

In [ ]:
# left join, so that all keys in df1 appears

pd.merge(left=df1, right=df2, how='cross')

In [ ]:
# we can join on a single key=> 'key1

pd.merge(left=df1, right=df2, on='key1')

In [ ]:
# we can change the suffixes 'x' and 'y'

pd.merge(left=df1, right=df2, on='key1', suffixes=('__left', '__right'))

In [ ]:
# we can join on a single key=> 'key2'

pd.merge(left=df1, right=df2, on='key2', indicator=True)

In [ ]:
# we can change the suffixes 'x' and 'y'

pd.merge(left=df1, right=df2, on='key2', suffixes=('_left', 'right'), indicator=True)


---|||
#### Performance Consideration

The **sort** and **copy** option in the **merge** method should be considered for performance purposes. 

- The sort option, performs the merge while sorting based on the keys used. For better performance, it is set to False, so that no sorting on the keys is performed on the resulting data strucuture. If sorting is required, and performance is not of consideration, then it should be set to **True**

- The copy option copies data from the dataset to be merged into a new data structure which is then given as the output of the merge operation. By default also, while carefully considering data loss, it can be set to False; in which case, **data is not copied nut moved**

In [ ]:
# using the sort option default=> False

pd.merge(df1,df2, on='key1',
          suffixes=('__left', '__right'), indicator='where')

In [ ]:
# using the sort option=> True

pd.merge(df1, df2, on='key1', 
         suffixes=('__left', '__right'), indicator='where', sort=True)

In [ ]:
# experimental performance; without sorting
%timeit pd.merge(df1,df2, on='key1', suffixes=('__left', '__right'), indicator='where', sort=False)

In [ ]:
# experimental performance; with sorting
%timeit pd.merge(df1,df2, on='key1', suffixes=('__left', '__right'), indicator='where', sort=True)

In [ ]:
# using the copy option

%timeit pd.merge(df1,df2, on='key1', suffixes=('__left', '__right'), indicator='where', copy=False)

In [ ]:
# experimental performance; with sorting
%timeit pd.merge(df1,df2, on='key1', suffixes=('__left', '__right'), indicator='where', copy=True)

In [ ]:
pd.merge(df1,df2, on='key1', suffixes=('__left', '__right'), indicator='where', copy=False)


---|||
### Merging on Index

Instead of using the column labels as keys, the index is/are used as keys for the join operation

In [110]:
left = pd.DataFrame({'key': ['a', 'b', 'a', 'c', 'b', 'a'], 'value': range(6)})
right = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])

In [ ]:
left

In [ ]:
right

In [ ]:
# we use the coulmn name 'key' in the left data, and the index column 'index', on the right data
pd.merge(left= left, right=right, left_on='key', right_index=True)

In [ ]:
# using outer join

pd.merge(left= left, right=right, left_on='key', right_index=True, how='outer')

In [115]:
lefth = pd.DataFrame(
  {
    'key1': ['Ohio', 'Ohio', 'Ohio','Nevada', 'Nevada'],
    'key2': [2000, 2001, 2002, 2001, 2002],
    'data': np.arange(5.)})


righth = pd.DataFrame(
  data= np.arange(12).reshape((6, 2)),
  index=[
    ['Nevada', 'Nevada', 'Ohio', 'Ohio','Ohio', 'Ohio'],
    [2001, 2000, 2000, 2000, 2001, 2002]
  ],
  columns=['event1', 'event2'])

In [ ]:
lefth

In [ ]:
righth

In [ ]:
pd.merge(left=lefth, right=righth, left_on=['key1', 'key2'], right_index=True)

In [ ]:
pd.merge(left=lefth, right=righth, left_on=['key1', 'key2'], right_index=True, how='outer')


---|||
### Using the join method

In [ ]:
df1 = pd.DataFrame(
  data={
    'key_a': ['one', 'three', 'two', 'three', 'one'],
    'key_b': ['a', 'c', 4, 2, 1],
    'data1':[11, 22, 33, 44, 55]
    },
  index=[
    ['foo', 'bar', 'foo', 'foo', 'bar'],
    ['a', 'b', 'b', 'a', 'c']
  ]
)

df2 = pd.DataFrame(
  data={
    'key_a': ['one', 'two', 'two', 'four', 'three'],
    'key_b': ['a', 4, 'c', 2, 1],
    'data1':[12, 23, 35, 46, 65]
    },
  index=[
    ['two', 'one', 'three', 'two', 'one'],
  ]
)
df1

In [ ]:
df2

In [ ]:
df1.index.names = ['ind_1', 'ind_2']
df2.index.names = ['ind_1']
df1

In [ ]:
df2

In [ ]:
# merge on 'key_a'

pd.merge(df1, df2, on='key_a', how='inner', 
         indicator='where', copy=False, sort=False, suffixes=('---left', '---right'))

In [ ]:
# merge on multiple keys 'key_a' and 'key_b'

pd.merge(df1, df2, on=['key_a', 'key_b'], 
         indicator='where', copy='False', suffixes=('-left', '-right'))

In [ ]:
# merge using 'key_a' and the right_index

pd.merge(df1, df2, left_on='key_a', right_index=True,
          indicator='where', copy=False, suffixes=('--left', '--right'))

In [ ]:
# using the join method

df1.join(df2, on='key_a', how='outer', lsuffix='-left', rsuffix='-right')

##### Wenote that to use the join method, instead of merge, the dataframe must have the same index levels

In [ ]:
df1.join(df2, on=['key_a', 'key_b'])

In [10]:
df1 = pd.DataFrame({
  'key_a': ['a', 'b', 'a', 'c', 'b'],
  'data1': ["Kolawole", "Usman", "Ariyo", "25", "Male"]
}, index=['foo', 'foo', 'bar', 'foo', 'bar'])

df2 = pd.DataFrame({
  'key_b': ['c', 'a', 'a', 'b', 'c'],
  'data1': ["Tohode", "Sunday", "Junior", "25", "Male"]
}, index=['foo', 'bar', 'bar', 'bar', 'foo'])

df3 = pd.DataFrame({
  'key_c': ['a', 'c', 'a', 'b', 'b'],
  'data1': ["Ogbonna", "Kelechi", "Elizabeth", "24", "Female"]
}, index=['bar', 'foo', 'bar', 'foo', 'bar'])

In [ ]:
# merge the three dataframe

df1.join([df2, df3], how='inner')


---|||
### Concatenation ALong Axis

In [ ]:
# concatenate numpy arrays

arr1 = np.arange(12).reshape(4, 3)
arr2 = np.random.random(size=12).reshape(4, 3)
arr1

In [ ]:
arr2

In [ ]:
np.concatenate([arr1, arr2], axis=1)

In [ ]:
np.concatenate([arr2, arr1], axis=0)


---|||
#### Pandas **concat** Function.

Performs the same operation just like the numpy **concatenation** function. However, it does so with extra capabalities.

- combine distinct elements or shared elements from objects(series or dataframe), if the objects are indexed differently on the other axes.

- preserve data along the **concatenation** axis if need be.

- identify which data belongs to which object in the resulting concatenated object.

In [28]:
# some simple examples

s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])

##### By default, the concat function is along **axis==0**

In [ ]:
# concat all the objects

pd.concat([s1, s2, s3])

In [ ]:
# change the concatenation axis

pd.concat([s1, s2, s3], axis=1)

##### When there are no overlap laong the **other (i.e. not default)** axis of concatenation, the resulting concatenated object is similar to **"outer join", but of the indexes acting as keys**

In [ ]:
# concat s1, s3 along the default axis

s4 = pd.concat([s1, s3])
s4

In [ ]:
# concat s1 and s4 along "axis==1"-> there are overlapping indexes now

pd.concat([s1, s4], axis=1)


---|||
### Specifying **join** Optional Parameter in **concat**

Unlike **merge** that has five different ways on how objects should be joined throught the **how** method; 

- ***"cross", "outer", "inner", "left", and "right"***; where *inner* is the default, 

**concat** on the other hand has two, specified through the **join** keyword parameter; 

- ***"outer", "inner"***; where *outer* is the default.

In [ ]:
# using the outer default join method

pd.concat([s1, s4], axis=1, join='outer')

In [ ]:
# using inner to join based on shared keys; remember indexes are the keys here 

pd.concat([s1, s4], axis=1, join='inner')

#### Note; in concat, the keys used to perform the concatenation operation are the **indexes**

---
---|||
### Specifying **keys** Keyword Parameter

This is used as an identifier for data belonging to each of the objects joined. 

Note that if say; **p** objects are passed for concatenation, then at most **p** *keys* should be passed to identify data belong to each object. However, 

- If less < **p** keys are passed then the resulting output of the concatenated object will be the same as the number of keys passed, and in the order of the passed in object.

- If greater > **p** keys are passed, then the keys used will be based on the number of objects to be concatenated

> By default, the keys will be along axis==0 if the axis is not specified

In [ ]:
# passed in 5 object and < 5 keys(==2)

pd.concat([s1, s4, s1, s2, s3], keys=['one', 'two'])

In [ ]:
# passed 5 objects and 5 keys

pd.concat([s1, s4, s1, s2, s3], keys=['one', 'two', 'three', 'four', 'five'])

In [ ]:
# passed 5 objects and > 5 keys(==6)

pd.concat([s1, s4, s1, s2, s3], keys=['one', 'two', 'three', 'four', 'five', 'six'])

In [ ]:
result = pd.concat([s1, s2, s4], axis=0, keys=["ONE", "TWO", "THREE"])

result

In [ ]:
# change the index to columns

result.unstack()

In [ ]:
# make the specified keys the column names

pd.concat([s1, s2, s4], axis=1, keys=["ONE", "TWO", "THREE"])

In [ ]:
# the above can be achieved by using a dictionary; as in
# note we have specified the column names to be used

pd.concat({"ONE": s1, "TWO": s2, "THREE": s4}, axis=1, names=["column_label"])

In [ ]:
# we can ignore the row index if it doesn't contain relevant data
# using the ignore_index option

df1 = pd.DataFrame(data= [[25, 45],[35, 70], [26, 456]], index=['a', 'b', 'c'], columns=["ONE", "TWO"])
df2 = pd.DataFrame(data= [[5, 90],[24, 0], [6, 6]], index=['d', 'e', 'f'], columns=["THREE", "FOUR"])
df3 = pd.DataFrame(data= [[103, 24],[16, 0]], index=['g', 'h'], columns=["FIVE", "SIX"])

df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
pd.concat([df1, df2, df3])

In [ ]:
df4 = pd.concat([df2, df1])

df4

In [ ]:
# using inner join

pd.concat([df1, df4], join='inner')

In [ ]:
# ignore the indexes

pd.concat([df1, df4], join='inner', ignore_index=True)

In [ ]:
# label the objects the column names; there are two levels now

pd.concat([df1, df2], axis=1, keys=["level1", "level2"], names=['column_name_1', 'column_label_name'])


---|||
### Combining Data with Overlap: **combine_first**

This allows the combination of data that overlap fully or partly in such a way that the combination cannot be expressed as a **merge** or **concat** operation. It behaves as thought it is patching missing object in the calling  object using data in the passed object to the **combine_first** method.

> In series, the **indexes** act as the key for overlap, while dataframe uses both the **indexes and columns**

In [ ]:
s1 = pd.Series(np.array([np.nan, 1, 3, 4, np.nan]), index=['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series(np.array([30, 10, np.nan, 40, np.nan]), index=['a', 'b', 'c', 'd', 'e'])

s1

In [ ]:
s2

In [ ]:
# combine the data such that the first overlapping data that is not null is used

s1.combine_first(s2)

In [ ]:
# using data frames

df1 = pd.DataFrame(data= [[np.nan, 45],[35, np.nan], [np.nan, 456]], index=['a', 'b', 'c'], columns=["ONE", "TWO"])
df2 = pd.DataFrame(data= [[5, 90],[np.nan, 0], [6, 6]], index=['a', 'b', 'c'], columns=["ONE", "TWO"])
df3 = pd.DataFrame(data= [[103, 24],[16, np.nan]], index=['a', 'c'], columns=["ONE", "TWO"])

df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
# patch df1 with df2

df1.combine_first(df2)

In [ ]:
# patch df1 with df3: only 'a' and 'c' indexes are the same

df1.combine_first(df3)


---|||
### Reshaping and Pivoting

This is a mechanism to re-arrange data in a consistent manner. 

- **stack**: used to pivot from columns in the data  to rows

- **unstack**: used to pivot from rows in the data  to columns

> Note using **stack** will filter out missing data unless the **dropna** parameter is specified

In [ ]:
data = pd.DataFrame(data=np.arange(6).reshape((2, 3)),
                    index=pd.Index(['FOO', "BAR"], name='state'),
                    columns=pd.Index(['one', 'two', 'three'], name='labels'))

data

In [ ]:
# change row data to columns

res = data.unstack()

res

#### By default, if there are multi-index then unstacking will affect the inner index "

In [ ]:
# change the state index to column
res2 = res.unstack()

res2

In [ ]:
# change the index to use: if the index name is not specidied, then integer indexing
# will be specified; smaller(outer) -> larger(inner): from 0, 1...

res3 = res.unstack(level='labels')
# equivalent to ;
# res3 = res.unstack(level=0)

res3

In [ ]:
data

In [ ]:
# changing columns to rows

res = data.stack()

res

In [ ]:
# swap the indexes

res.swaplevel('labels', 'state')

#### Stacking filters out missing data by default; specifying the dropna to False prevent this from happening

In [ ]:
s = pd.DataFrame(data=np.array([23, np.nan, 15, 56, np.nan, 34]).reshape(3, 2),
                 index=pd.Index(['one', 'two', 'three'], name='rows'),
                 columns=pd.Index(['FOO', 'BAR'], name='columns')
)

s

In [ ]:
# change columns to rows

res1 = s.stack()

res1

Noticed above that the null data has been dropped.

In [ ]:
# do not filter out missing data using the dropna keyword

s.stack(dropna=False)

In [ ]:
# change rows to column

res2 = s.unstack()

res2

Unstack doesn't filter out missing data


---|||
### An Example

In [73]:
file_name = "../datasets/examples/macrodata.csv"

data = pd.read_csv(file_name)

data.head(10)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959,1,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959,2,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959,3,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959,4,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960,1,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19
5,1960,2,2834.390,1792.9,298.152,460.400,1966.1,29.55,140.2,2.68,5.2,180.671,0.14,2.55
6,1960,3,2839.022,1785.8,296.375,474.676,1967.8,29.75,140.9,2.36,5.6,181.528,2.70,-0.34
7,1960,4,2802.616,1788.2,259.764,476.434,1966.6,29.84,141.1,2.29,6.3,182.287,1.21,1.08
8,1961,1,2819.264,1787.7,266.405,475.854,1984.5,29.81,142.1,2.37,6.8,182.992,-0.40,2.77
9,1961,2,2872.005,1814.3,286.246,480.328,2014.4,29.92,142.9,2.29,7.0,183.691,1.47,0.81

In [74]:
periods = pd.PeriodIndex(year=data.year, quarter=data.quarter, name='date')

columns = pd.Index(['realgdp', 'infl', 'unemp'], name='item')

data_mod = data.reindex(columns=columns)

data_mod.index= periods.to_timestamp('D', 'end')

ldata= data_mod.stack().reset_index().rename(columns={0: 'value'})

In [75]:
ldata.head()

                           date     item     value
0 1959-03-31 23:59:59.999999999  realgdp  2710.349
1 1959-03-31 23:59:59.999999999     infl     0.000
2 1959-03-31 23:59:59.999999999    unemp     5.800
3 1959-06-30 23:59:59.999999999  realgdp  2778.801
4 1959-06-30 23:59:59.999999999     infl     2.340


---|||
### Pivotting Dataframe

This is a mechanism where a given column data is turned (pivotted) as column labels; turning the data from a **long rows to wide columns**

In [76]:
# specify the index as the data column, and the columns as the categorical data in the 'item' column
pivoted = ldata.pivot(index='date', columns='item', values='value')

pivoted

item                           infl    realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00   2710.349    5.8
1959-06-30 23:59:59.999999999  2.34   2778.801    5.1
1959-09-30 23:59:59.999999999  2.74   2775.488    5.3
1959-12-31 23:59:59.999999999  0.27   2785.204    5.6
1960-03-31 23:59:59.999999999  2.31   2847.699    5.2
...                             ...        ...    ...
2008-09-30 23:59:59.999999999 -3.16  13324.600    6.0
2008-12-31 23:59:59.999999999 -8.79  13141.920    6.9
2009-03-31 23:59:59.999999999  0.94  12925.410    8.1
2009-06-30 23:59:59.999999999  3.37  12901.504    9.2
2009-09-30 23:59:59.999999999  3.56  12990.341    9.6

[203 rows x 3 columns]

Equivalence between **pivot**, and [].set_index([.]).unstack()

In [ ]:
p = ldata.set_index(['date', 'item']).unstack('item')
p


---|||
### Melting Data

This performs the inverse of **pivot**, by turning a set of columns to row data; turning a wide column data to long row data

In [ ]:
pd.melt(p, ignore_index=False).reset_index()


---|||
## Chapter 9: Data Aggregation & Grouping

- split objects into pieces

- compute group statistics

- apply group transformation

- compute pivot tables and cross-tabulations

- perform statiscal group analyses

---
---

#### GroupBy Mechanics

This is a mechanism for grouping data based on one or more keys

In [ ]:
df = pd.DataFrame(data={
  'key1': ['a', 'a', 'b', 'b', 'a'],
  'key2': ['one', 'two', 'one', 'two', 'one'],
  'data1': np.random.randn(5),
  'data2': np.random.randn(5)
  })

df

In [ ]:
# compute the mean of data1 using key1 as the label or the mean of data1 with a, b as keys

grouped = df['data1'].groupby(df['key1'])

grouped

In [ ]:
grouped.mean()

In [ ]:
# use the key1, and key2 to group the data1, and then compute the mean

means = df['data1'].groupby(by=[df['key1'], df['key2']]).mean()

means

In the above grouping mechanics, it is assumed as though the group keys -> ***key1, key2***, does not belong to the data from the way the statement is constructed.

In [ ]:
# unstack the data

means.unstack()

In [ ]:
df

Using an array not belonging to the data to be grouped for grouping

In [8]:
states = ['Lagos', 'Abuja', 'Abuja', 'Lagos', 'Lagos']

years = [2010, 2009, 2009, 2009, 2010]

In [ ]:
df['data1'].groupby([states, years]).mean()

In [ ]:
# since the group keys belong to the data, we can apply groupby directly

df.groupby('key1').mean(numeric_only=True)

In [ ]:
# using key1 and key2 to group

g = df.groupby(['key1', 'key2'])

g.mean()

In [ ]:
# get the sizes of each grouped data

g.size()

#### By default, missing data will be omitted from the result when using groupby method

In [ ]:
frame = pd.DataFrame(data={
  'key1': ['b', 'a', 'a', 'b'],
  'key2': ['one', 'two', 'one', 'one'],
  'data1': [np.nan, 156, 23, 54],
  'data2': [30, np.nan, 57, np.nan]
})

frame

In [ ]:
frame.groupby(by=['key1', 'key2']).size()

Observe that missing values are not accounted for in the meta-data of the grouping.

In [ ]:
# group by key1, and observed missing values

frame.groupby(by='key1').mean(numeric_only=True)

Observe that both values of 'a' are used in 'data1' column but a single value of 'b'

---
---|||
### Iterating Over Groups

Groupby Object supports iteration, over its result. It returns a tuple of keys-value pairs

In [34]:
grp = df.groupby('key1')

In [35]:
for name, group in grp:
  print(name)
  print()
  print(group)

a

  key1 key2     data1     data2
0    a  one -0.199207  2.098223
1    a  two  1.506196  1.391447
4    a  one  2.149205  0.269702
b

  key1 key2     data1     data2
2    b  one  1.588769 -1.387905
3    b  two  1.492748 -0.052380

In [31]:
for k in grp:
  print(k[1])

  key1 key2     data1     data2
0    a  one -0.199207  2.098223
1    a  two  1.506196  1.391447
4    a  one  2.149205  0.269702
  key1 key2     data1     data2
2    b  one  1.588769 -1.387905
3    b  two  1.492748 -0.052380

In [36]:
# iterating over multiple-keys grouping

grp = df.groupby(by=['key1', 'key2'])

In [40]:
# since there are two keys, we get a 3-tuple

for (k1, k2), group in grp:
  print(k1, k2)
  print(group, end='\n\n')

a one
  key1 key2     data1     data2
0    a  one -0.199207  2.098223
4    a  one  2.149205  0.269702

a two
  key1 key2     data1     data2
1    a  two  1.506196  1.391447

b one
  key1 key2     data1     data2
2    b  one  1.588769 -1.387905

b two
  key1 key2     data1    data2
3    b  two  1.492748 -0.05238

In [55]:
dict(list(grp))['b', 'one']

  key1 key2     data1     data2
2    b  one  1.588769 -1.387905

In [56]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

The default groupby axis is 0 (index). This can be modified by setting the axis optional keyword parameter

In [59]:
grp = df.groupby(df.dtypes, axis=1)

In [60]:
for dtype, group in grp:
  print(dtype)
  print(group)

float64
      data1     data2
0 -0.199207  2.098223
1  1.506196  1.391447
2  1.588769 -1.387905
3  1.492748 -0.052380
4  2.149205  0.269702
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

Selecting Columns or Subset of Columns of Grouped Data

In [61]:
df

  key1 key2     data1     data2
0    a  one -0.199207  2.098223
1    a  two  1.506196  1.391447
2    b  one  1.588769 -1.387905
3    b  two  1.492748 -0.052380
4    a  one  2.149205  0.269702

In [73]:
# group by key1 and select the data1 column

# df['data1'].groupby(by=df['key1']) # is equivalent to:

df.groupby('key1')['data1']

Grouping with Mapping

In [80]:
df = pd.DataFrame(
  data=np.random.randn(5, 5),
  columns=pd.Index(['ONE', 'TWO', 'THREE', 'FOUR', 'FIVE'], name='COLUMNS'),
  index=pd.Index(['a', 'b', 'c', 'd', 'e'], name='ROWS')
)

df

COLUMNS       ONE       TWO     THREE      FOUR      FIVE
ROWS
a       -0.253309 -1.086819 -0.838136 -0.120427  0.694268
b       -0.163638 -1.376051 -0.790970 -0.115774  0.360131
c        0.026162  0.668005  0.014478 -0.024915 -0.415114
d       -0.416121 -0.053862  0.870667  1.788469 -1.427654
e        0.395446 -0.271426 -0.274036 -0.359843 -1.119527

In [87]:
mapping_1 = {'ONE': 'MO', 'TWO': 'WOLE', 'THREE':'WOLE', 'FOUR': 'MO', 'FIVE': 'MO'}
mapping_2 = {'a': 'MO', 'c': 'WOLE', 'e':'WOLE', 'b': 'MO', 'f': 'MO'}

observe the key 'f' assigned to 'MO'

In [91]:
grp_col = df.groupby(mapping_1, axis=1)
grp_row = df.groupby(mapping_2, axis=0)

In [92]:
grp_col.size()

COLUMNS
MO      3
WOLE    2
dtype: int64

In [93]:
grp_row.size()

ROWS
MO      2
WOLE    2
dtype: int64

Observe that the key 'f', above, is ignored since it is not in grouping dataset

In [94]:
grp_col.sum()

COLUMNS        MO      WOLE
ROWS
a        0.320532 -1.924954
b        0.080719 -2.167021
c       -0.413867  0.682483
d       -0.055305  0.816805
e       -1.083924 -0.545462

In [97]:
grp_row.sum()

COLUMNS       ONE       TWO     THREE      FOUR      FIVE
ROWS
MO      -0.416947 -2.462870 -1.629105 -0.236201  1.054399
WOLE     0.421608  0.396579 -0.259558 -0.384758 -1.534641


---|||
#### Grouping with Function

The function is applied to the index if axis=0 and colum if axis=1, as though they were keys

In [98]:
df

COLUMNS       ONE       TWO     THREE      FOUR      FIVE
ROWS
a       -0.253309 -1.086819 -0.838136 -0.120427  0.694268
b       -0.163638 -1.376051 -0.790970 -0.115774  0.360131
c        0.026162  0.668005  0.014478 -0.024915 -0.415114
d       -0.416121 -0.053862  0.870667  1.788469 -1.427654
e        0.395446 -0.271426 -0.274036 -0.359843 -1.119527

In [100]:
df.groupby(len, axis=1).count()

COLUMNS  3  4  5
ROWS
a        2  2  1
b        2  2  1
c        2  2  1
d        2  2  1
e        2  2  1

It is possible to mix function and arrays, dict or series as grouping mechanism

In [122]:
df1 = df.unstack().unstack()

df1

ROWS            a         b         c         d         e
COLUMNS
ONE     -0.253309 -0.163638  0.026162 -0.416121  0.395446
TWO     -1.086819 -1.376051  0.668005 -0.053862 -0.271426
THREE   -0.838136 -0.790970  0.014478  0.870667 -0.274036
FOUR    -0.120427 -0.115774 -0.024915  1.788469 -0.359843
FIVE     0.694268  0.360131 -0.415114 -1.427654 -1.119527

In [126]:
df1.groupby(by=[len, 'a', 'b']).size()

COLUMNS  a          b
3        -1.086819  -1.376051    1
         -0.253309  -0.163638    1
4        -0.120427  -0.115774    1
          0.694268   0.360131    1
5        -0.838136  -0.790970    1
dtype: int64


---|||
### Data Aggregation

This is a mechanism of producing a scalar value (a single value) from a arrays. This is achieved by passing the aggregating mechanism to **agg** method

In [4]:
df = pd.DataFrame(
  data={
    'data1': np.random.random(5),
    'data2': np.random.random(5),
    'key1': ['a', 'b', 'a', 'a', 'b'],
    'key1': ['ONE', 'TWO', 'ONE','TWO', 'TWO']
  })

df

      data1     data2 key1
0  0.783589  0.128287  ONE
1  0.017067  0.260543  TWO
2  0.750654  0.796380  ONE
3  0.586161  0.618188  TWO
4  0.348354  0.113318  TWO

In [5]:
# aggregate the data1 by grouping using 'key1' 

grp = df.groupby(by='key1')

In [8]:
# aggregate by sums

grp['data1'].agg(sum)

key1
ONE    1.534244
TWO    0.951582
Name: data1, dtype: float64

In [12]:
# mean aggregation
def means(arr):
  return np.mean(arr)

grp['data2'].aggregate(means)

key1
ONE    0.462333
TWO    0.330683
Name: data2, dtype: float64

In [13]:
fn = "../datasets/examples/tips.csv"

In [15]:
tips = pd.read_csv(fn)

tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [18]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [81]:
# trying the pivot func

tips.pivot( columns='day', values=['total_bill'])

    total_bill
day        Fri    Sat    Sun   Thur
0          NaN    NaN  16.99    NaN
1          NaN    NaN  10.34    NaN
2          NaN    NaN  21.01    NaN
3          NaN    NaN  23.68    NaN
4          NaN    NaN  24.59    NaN
..         ...    ...    ...    ...
239        NaN  29.03    NaN    NaN
240        NaN  27.18    NaN    NaN
241        NaN  22.67    NaN    NaN
242        NaN  17.82    NaN    NaN
243        NaN    NaN    NaN  18.78

[244 rows x 4 columns]

In [19]:
# group by day and smoker

grp = tips.groupby([ 'day', 'smoker'])

In [25]:
# find the mean of the tip_pct based on day and smoke preference

grp['tip_pct'].agg('mean')

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [28]:
# multiple aggregating function

grp_pct = grp['tip_pct']

grp_pct.agg([('Average', 'mean'), ('Standard-Deviation', 'std')])

              Average  Standard-Deviation
day  smoker
Fri  No      0.151650            0.028123
     Yes     0.174783            0.051293
Sat  No      0.158048            0.039767
     Yes     0.147906            0.061375
Sun  No      0.160113            0.042347
     Yes     0.187250            0.154134
Thur No      0.160298            0.038774
     Yes     0.163863            0.039389

In [30]:
multi_agg = grp[['tip_pct', 'total_bill']].agg([('AVERAGE', 'mean'), ('MAX', max)])

multi_agg

              tip_pct           total_bill
              AVERAGE       MAX    AVERAGE    MAX
day  smoker
Fri  No      0.151650  0.187735  18.420000  22.75
     Yes     0.174783  0.263480  16.813333  40.17
Sat  No      0.158048  0.291990  19.661778  48.33
     Yes     0.147906  0.325733  21.276667  50.81
Sun  No      0.160113  0.252672  20.506667  48.17
     Yes     0.187250  0.710345  24.120000  45.35
Thur No      0.160298  0.266312  17.113111  41.19
     Yes     0.163863  0.241255  19.190588  43.11

In [31]:
t = multi_agg['tip_pct']
s = multi_agg['total_bill']

t

              AVERAGE       MAX
day  smoker
Fri  No      0.151650  0.187735
     Yes     0.174783  0.263480
Sat  No      0.158048  0.291990
     Yes     0.147906  0.325733
Sun  No      0.160113  0.252672
     Yes     0.187250  0.710345
Thur No      0.160298  0.266312
     Yes     0.163863  0.241255

In [32]:
s

               AVERAGE    MAX
day  smoker
Fri  No      18.420000  22.75
     Yes     16.813333  40.17
Sat  No      19.661778  48.33
     Yes     21.276667  50.81
Sun  No      20.506667  48.17
     Yes     24.120000  45.35
Thur No      17.113111  41.19
     Yes     19.190588  43.11

In [36]:
pd.concat({'tip_pct': t, 'total_bill': s}, axis=1)

              tip_pct           total_bill
              AVERAGE       MAX    AVERAGE    MAX
day  smoker
Fri  No      0.151650  0.187735  18.420000  22.75
     Yes     0.174783  0.263480  16.813333  40.17
Sat  No      0.158048  0.291990  19.661778  48.33
     Yes     0.147906  0.325733  21.276667  50.81
Sun  No      0.160113  0.252672  20.506667  48.17
     Yes     0.187250  0.710345  24.120000  45.35
Thur No      0.160298  0.266312  17.113111  41.19
     Yes     0.163863  0.241255  19.190588  43.11

In [38]:
# apply different aggregating functions to different columns

res = grp.agg({'tip_pct': np.mean, 'total_bill': 'std', 'size': np.max})

res

              tip_pct  total_bill  size
day  smoker
Fri  No      0.151650    5.059282     3
     Yes     0.174783    9.086388     4
Sat  No      0.158048    8.939181     4
     Yes     0.147906   10.069138     5
Sun  No      0.160113    8.130189     6
     Yes     0.187250   10.442511     5
Thur No      0.160298    7.721728     6
     Yes     0.163863    8.355149     4

In [43]:
# we do not want to ignore the index of the result, so we specify 'as_index'

# multiple aggregating function

res = tips.groupby(['day', 'smoker'], as_index=False).agg(
  {'tip_pct': np.mean, 'total_bill': 'std', 'size': np.max})

res

    day smoker   tip_pct  total_bill  size
0   Fri     No  0.151650    5.059282     3
1   Fri    Yes  0.174783    9.086388     4
2   Sat     No  0.158048    8.939181     4
3   Sat    Yes  0.147906   10.069138     5
4   Sun     No  0.160113    8.130189     6
5   Sun    Yes  0.187250   10.442511     5
6  Thur     No  0.160298    7.721728     6
7  Thur    Yes  0.163863    8.355149     4

In [77]:
res.pivot(index='size', columns='day', values='total_bill')

day        Fri        Sat        Sun      Thur
size
3     5.059282        NaN        NaN       NaN
4     9.086388   8.939181        NaN  8.355149
5          NaN  10.069138  10.442511       NaN
6          NaN        NaN   8.130189  7.721728

In [85]:
res2 = pd.melt(res)

res2.head()

  variable value
0      day   Fri
1      day   Fri
2      day   Sat
3      day   Sat
4      day   Sun


---|||
### Split-Apply-Combine

This is the mechanism used by **groupby** and applied **aggregating** function.. While the -

1. **split** is performed by the **groupby** method
2. **apply**, used on the result of the *groupby* method, is performed either by
    - aggregating the function
    - using the **apply** method on the group result
3. **combine** is performed, automatically, after aggregating the function

In [93]:
# define a function that selects the first 6 largest value by column

from pandas import DataFrame

def top_n(df: DataFrame, n=5, column='tip_pct'):
  return df.sort_values(by=column)[-n:]

In [87]:
top_n(tips, n=7)

     total_bill   tip smoker   day    time  size   tip_pct
149        7.51  2.00     No  Thur   Lunch     2  0.266312
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
232       11.61  3.39     No   Sat  Dinner     2  0.291990
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [88]:
# group by smoker and apply the function

tips.groupby(by='smoker').apply(top_n)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [92]:
# argument to a function passed to 'apply' are supplied as keyword-value

tips.groupby(['day','smoker']).apply(top_n, n=2, column='total_bill')

                 total_bill    tip smoker   day    time  size   tip_pct
day  smoker
Fri  No     91        22.49   3.50     No   Fri  Dinner     2  0.155625
            94        22.75   3.25     No   Fri  Dinner     2  0.142857
     Yes    90        28.97   3.00    Yes   Fri  Dinner     2  0.103555
            95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
Sat  No     59        48.27   6.73     No   Sat  Dinner     4  0.139424
            212       48.33   9.00     No   Sat  Dinner     4  0.186220
     Yes    102       44.30   2.50    Yes   Sat  Dinner     3  0.056433
            170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
Sun  No     112       38.07   4.00     No   Sun  Dinner     3  0.105070
            156       48.17   5.00     No   Sun  Dinner     6  0.103799
     Yes    184       40.55   3.00    Yes   Sun  Dinner     2  0.073983
            182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
Thur No     85        34.83   5.17     No  Thur   Lunch     4  0.148435
            142       41.19   5.00     No  Thur   Lunch     5  0.121389
     Yes    83        32.68   5.00    Yes  Thur   Lunch     2  0.152999
            197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

GroupBy Examples

In [94]:
result = tips.groupby('smoker')['tip_pct'].describe()

result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [97]:
result.unstack('smoker')

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

In [101]:
tips.groupby('smoker', group_keys=False).apply(top_n)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


---|||
### Pivot Tables and Cross-Tabulation

Data Summarization tool.