---|||
# Pandas  Introduction 

It is a Python library used for data manipulation, cleaning and processing.

In [ ]:
import pandas as pd
import numpy as np

#### The core data structure in pandas are Series (column like), and Dataframe(tabular like)
---|||

**Series**: one dimensional array-like object containing
-  sequence of values, **P**
-  an associated array of data labels, called its **index**

> By default, the index ranges from 0 to the len(P) - 1

In [ ]:
# notice the associated indices
pd.Series([5, 10, 111, 4])

In [ ]:
# create a series with modified index, using its index parameter

s = pd.Series([10, 20, 30, 40], index=['i', 'j', 'k', 'l'])
s

In [ ]:
# obtain the index of a given series using the index attribute

s.index


---|||
##### The index of a Series can be used to select data corresponding to the index

They act as index to the data sequence

In [ ]:
s['k'], s['i']

##### NumPy-like operations can be used to manipulate a Series object

The index remains unchanged, after the operation(s) is performed

In [ ]:
s[s > 25]

In [ ]:
s * 2

In [ ]:
np.exp(s)

In [ ]:
# query if the series contains a given index

'j' in s

### A good mental model is to think of a Series object as a dictionary of keys and values

- the index are the keys
- the data are the values

In [ ]:
# some states and their corresponding capitals in Nigeria
sdata = {'lagos': 'ikeja', 'ogun': 'abeokuta', 'adamawa': 'lafia'}

# create a series object from the data
s = pd.Series(sdata)
s

In [ ]:
# get the index

s.index

In [ ]:
# query if an index is contained in the series

'lagos' in s, 'fct' in s


---|||

#### Alter the indices of a Series in-place

In [ ]:
index = ['l', 'o', 'a']

# change the indices to index
s.index = index

In [ ]:
s.index


---|||
#### Using the Dictionary to create the series will sort the data based on the keys

This can be overriden by passing the same keys, and in whatever order to the index keyword

> adding a key that doesn't belong in the dictionary will result in the key having a NAN value (a.k.a missing data)

In [ ]:
# adding more indices than data, results in NAN values

# some states and their corresponding capitals in Nigeria
sdata = {'lagos': 'ikeja', 'ogun': 'abeokuta', 'adamawa': 'lafia'}

# using the keys to order the values
s = pd.Series(sdata, index=['lagos', 'adamawa', 'ogun'])
s

In [ ]:
# using a key that is not in the dictionary => 'fct
# will add the key, but its value will benan


s = pd.Series(sdata, index=['ogun', 'fct', 'adamawa', 'lagos'])

s


---|||
#### **isnull** and **notnull** method as a way of detecting missing data

In [ ]:
# find index with missing data in a series

s.isnull()

In [ ]:
# find index without missing data in the series

s.notnull()

In [ ]:
# the query formats (functions and instance method) are equivalent


(
    pd.notnull(s) == s.notnull(),
    
    pd.isnull(s) == s.isnull()
)


---|||
##### Arithmetic Operations on series with similar keys 

When performing arithmetic operations on different series with similar keys, the keys are used to align the data before the operation is performed element wise

In [ ]:
adata = {'i': 11, 'j': 33, 'k': 23}
bdata = {'a': 100, 'j': 23, 'b': 73, 'k': 1000} # keys j, k are in adata

s1 = pd.Series(adata)
s2 = pd.Series(bdata)

In [ ]:
s1

In [ ]:
s2

In [ ]:
# notice that not all the keys are the same

# additional keys thar are not present in either index(es) ...
# wi;; return nan values

s1 + s2

|^|

Notice that keys that doesn't match have NAN values returned

---
---|||
#### Naming a Series 

It is possible to name a series object using the name attribute of kwarg

In [ ]:
sdata

In [ ]:
s = pd.Series(sdata, name='States and Capital in Nigeria')

In [ ]:
s

In [ ]:
# get the name using its index attributes

s.name


---|||
# Dataframe

The other core pandas object is the DataFrame representing a tabular-like data (like excel spreadsheet). It contains

- ordered collections of columns; each column can contain different data type
- a row and column index
 
A good mental model is to think of Dataframe as a dictionary containing

- **keys**: representing the columns, and its column index
-
- **value**:  Series object such that
  -  the keys of the series represent the row index
  - the values in the series represent the data keyed by its row and column index

In [ ]:
# creating a dataframe

data = {'states': ['lagos', 'fct', 'ondo', 'oyo', 'plateau'], 'capital': ['ikeja', 'abuja', 'akure', 'ibadan', 'jos']}

# the row index will automatically default to a number, 
# if we had used the dictionary as is.
# but we pass one in the intialisation

df = pd.DataFrame(data, index=['i', 'j', 'k', 'l', 'm'])

df

In [ ]:
# create a dataframe by passing list
# and we can specify the column index...
# in the order we want them to appear

df = pd.DataFrame(
  [('lagos', 'ikeja', 'SW'),
   ('fct', 'abuja', 'NC'), 
   ('ondo', 'akure', 'SW'),
   ('oyo', 'ibadan', 'SW'),
   ('plateau', 'jos', 'SS')],
  columns=['states', 'capitals', 'geographic_region'], index=['a', 'b', 'c', 'd', 'e']
)

df

In [ ]:
# if we passed this directly, then the columns will be ... 
# ordered based on the keys - (capital, geographic_region, states)

data = {
    'states': ['lagos', 'fct', 'ondo', 'oyo', 'plateau'],
    'capital': ['ikeja', 'abuja', 'akure', 'ibadan', 'jos'],
    'geographic_region': ['SW', 'NC', 'SW', 'SW', 'SS']
    }

# notice the order of the columns indices (geographic.., states, capital)

# also notice that the population index in columns ... 
# is not contained in the data, so its values will be nan

df = pd.DataFrame(data, columns=['geographic_region', 'states', 'capital', 'population'])
df


---|||
#### **Head** or **Tail** Selecting the top or last few elements

We can select the first few elements in the beginning or end of the dataframe using the **head** and **tail** method.

By default they return the first or last five rows in the dataframe, however, we can pass-in a number to indicate the number of rows that should be returned

In [ ]:
# select the first n values of a dataframe
df.head(3)

In [ ]:
df.tail(2)

In [ ]:
# get the column index using the column attributes

df.columns


---|||

# Indexing a Dataframe

Remember that the keys to  the dataframe are its columns index.

When the dataframe object is indexed by the column name, a series containing the row index and its corresponding data is returned.

Indexing can be carried out in two ways; 
- **dictionary indexing**: as key 
- **attribute indexing**: using the name of the column

> the dictionary indexing format is more general, as it can also be used with column index with *space* in their name, which would have other_wise be invalid using attribute.

In [ ]:
# get all the data in the capital -> a series 

df['capital']

In [ ]:
# using attribute index

df.geographic_region

In [ ]:
# get the population column

df.population

In [ ]:
# assign values to the population column

df.population = [20, 10, 3, 4, 1]
df

In [ ]:
# remember broadcasting?

df.population = 1
df


---|||

#### Adding a new series to an existing dataframe object

Add a new column then;  add a series to a new column in the dataframe

Satisfy the following

- The length of the series data must match the those in the dataframe
- The index length of the series must match those in the dataframe, 
- the index names,that matches those in the dataframe will be aligned
- the index name that doesn't match will be NAN


> Note, if the index length, those of the

In [ ]:
# change the row index names

df.index = ['one', 'two', 'three', 'four', 'five']
df

In [ ]:
# add a series


# the max length of the series must match those of the dataframe

# the row index, 'five' is not on the new series index ... 
# hence the corresponding value will be nan

# there is no 'not-good' index in the data frame, ... 
# hence its values will not be aligned

s = pd.Series(
    data=['no', 'yes', 'yes', 'yes', 'bad'], 
    index=['two', 'one', 'four', 'three', 'not-good']
    )

# add a new column to the dataframe
# note this can only be created using dictionary key indexing
# as using attribute indexing will not work

df['Visited'] = np.nan
df

In [ ]:
# add the series to the visited column

# notice that the 'not-good' column doesn't match

df.Visited = s
df


---|||
#### Deleting a column from a dataframe

Using the **del** keyword followed by the column selection from the dataframe will delete the column from the dataframe

In [ ]:
df

In [ ]:
del df['Visited']

df


---||| 

#### Swapping Columns and Rows with transpose

Using the **transpose function** or **T attribute** will:

- swap rows to columns
- columns to rows

In [ ]:
df.T

In [ ]:
df.transpose()


---|||

### Creating a new Dataframe from an existing Dataframe

By using an existing dataframe object, one can create a new dataframe.

IF the index key is also specified, then

- any index of the previous dataframe added to this new index, will have its column data in the new data frame

- new index will automatically be assigned nan

In [ ]:
# we only want the data in 'one, five and three' in the new dataframe

# in the new index added, 'ten, nine' will be assigned nan 

df2 = pd.DataFrame(df, index=['one', 'ten', 'five', 'nine', 'three'])

df2

In [ ]:
# set the name attributes of the index and column of a dataframe

df2.columns.name = 'States in Nigeria Info'
df2.index.name = "Numbering"

df2

In [ ]:
# return the values in a dataframe
# the data are returned along the columns axis

df.values


---|||

### Index Object

This is a pandas object that holds the values of
- a Series row index 
- a Dataframe's columns or row index A

The Index Obeject is;

- It is immutable 
- it can be shared among other data structures

In [ ]:
# manipulatiing a Series using its index object

s = pd.Series(
    data=['Mo', 'Usman', 'Kolawole'],
    index=['a', 'b', 'c']
    )
s

In [ ]:
# get the index object

ind = s.index

ind

In [ ]:
# index object are immutable

ind[0] = 'k'

In [ ]:
#  create an index object

ind = pd.Index(data=['l', 'm', 'n', 'p'])

ind

In [ ]:
# use the new index object in a series

s = pd.Series(np.arange(4), index=ind)

s

In [ ]:
ind2 = ['l', 'm', 'n', 'p']

In [ ]:
# remember the difference between (==) and (is)?

# compares element wise; remember vectorization?
s.index == ind2

In [ ]:
# check that they are the same object in memory 

s.index is ind2

In [ ]:
s.index is ind


---|||
### Index Object as a container for Duplicate Object

Since Index Object are immutable, they are similar to a fixed-set in Python, and support Set logic. But unlike Python Sets, they can contain duplicate values

In [ ]:
# create two pandas object

ind1 = pd.Index(['a', 'b', 'c', 'd', 'm', 'f', 'g', 'l'],)
ind2 = pd.Index(['l', 'm', 'b', 'p', 'a', 'h', 'q', 'r'],)

In [ ]:
# apply set logic to both

# concatenate two Index objects to create a new one

ind3 = ind2.append(ind1)

ind3

In [ ]:
# compute the difference between two set A - B
# this is remove all the elements of B that is also in A,  from A

ind4 = ind3.difference(ind2)

ind4

In [ ]:
# compute the union of two or more

# remember this is set logic, so duplicates will not be allowed
# but an index object itself can contain duplicate values

ind5 = ind1.union(ind2)

ind5


---|||
### Re-indexing a Series 

The **reindex** method allows creating a new Series object, with the data of the old series **aligned** to a new index (if the index of the data in the old series are elements in the new index).

> the data in the new index will be ordered based on how they are passed in the

In [ ]:
# create a series

s = pd.Series(
    data=np.arange(8),
    index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
    )
s

In [ ]:
# index

s.index

In [ ]:
# change the index using the reindex method

# note there are new index values present, 
# so, index in **s** will be aligned to its data in the new series ...
# and new index values will be assigned NAN values

s.reindex(['a', 'i', 'j', 'k', 'b', 'l', 'm', 'c', 'n', 'p', 'd', 'q'])


---|||
### Filling the NAN values in the **reindex** method

When both old and new index values are passed as elements in the reindex method,
the new index values will by default be **aligned** to NAN values. To fill this NAN values, one can pass the method of filling the NAN values.

**Methods**

- ffill: fill the NAN values with the last valid data in the old series,
- bfill: fill the next NAN with the  data,

In [ ]:
# using the same series, from above

s.reindex(
    index=['a', 'i' , 'b', 'j', 'c', 'k', 'd', 'e'],
    method='ffill'
)

In [ ]:
s.reindex?


---|||
### NumPy UFunc and Mappings 

Remember UFuncs are numpy functions that apply an operation to each element of an ndarray, through broadcasting.

In pandas, ufuncs can also be applied to pandas dataframe and series objects

In [ ]:
df = pd.DataFrame(np.arange(24).reshape((6 , 4)))

df

In [ ]:
# apply the sqrt ufunc of the table

np.sqrt(df)


---|||
### Apply Mapping Method

In [ ]:
s = pd.Series(np.arange(1, 10))
df = pd.DataFrame(np.arange(36).reshape(9, 4))

In [ ]:
f =  lambda x: x*x

def g(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [ ]:
s

In [ ]:
s.apply(f)

In [ ]:
df.apply(f)

In [ ]:
df

In [ ]:
df.apply(g, axis=1)


---|||
### **applymap** method

This is similar to apply, except that it applies the passed in function to each element in the dataframe, instead of applying it to a a series along a  specific axis.

In [ ]:
data = np.random.random((5, 6))
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'])

df

In [ ]:
format = lambda x: '%.3f' %x

In [ ]:
# using apply will try to execute format on the axis (0, by default),
# which should fail, because the format method except single values,
# but the apply method will pass a series object to it

df.apply(format)

In [ ]:
# to overcome this challenge, the applymap method is used

df.applymap(format)

In [ ]:
df


---|||
### Sorting

Sorting can be done in two ways:

- **by values**: sort based on the value in the series or dataframe
- **by index**: sort based on the index in the series OR based on the axis in a dataframe

In [ ]:
s = pd.Series(np.arange(1, 14, 2), index=['c', 'a', 'b', 'k', 'i', 'm', 'e'])

s

In [ ]:
# sort by index in descending order

s = s.sort_index(ascending=False)
s

In [ ]:
# sort by values in ascending

s.sort_values()

In [ ]:
df = pd.DataFrame(np.arange(1, 41, 3).reshape(7, 2), index=[3, 1, 7, 11, 32, 9, 0])

df

In [ ]:
# sort by index along axis = 1

df.sort_index(axis=1, ascending=False)

In [ ]:
# sort by index along axis=0

df.sort_index(axis=0)

In [ ]:
# sort by values along axis = 1, but a key must be specified

df.sort_values(axis=1, by=1)


---|||
# Chapter 6: Data Loading, Storage, and File Formats

---|||
### Loading/Reading of Data into a Dataframe Object

The read_[type] is meant to convert data stored on disk to a Dataframe object.

In [ ]:
# reading a csv formatted data

file_path = "../datasets/Employees.csv"

df = pd.read_csv(file_path)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
# set the index column to Unnamed
df = df.set_index('Unnamed: 0')

In [ ]:
df.head()

In [ ]:
# remove index name
df.index.name = ""

In [ ]:
df.head()

In [ ]:
# this multiple operations could be done directly when loading the file

df = pd.read_csv(file_path, index_col=0)

In [ ]:
df.head()


---|||
# Using **read_table** as a general method for loading text data

While *read_csv* is specific to CSV formatted files, one can use *read_table*, and indicate how the data is formatted in an optional seperator ket (sep).

The seperator between data points for CSV-formatted file is a comma (,).

In [ ]:
# use read_tables to open the Employee CSV data

df = pd.read_table(file_path)

In [ ]:
df.head()

In [ ]:
# specify the format method in the seperator
# remember the index column

df = pd.read_table(file_path, sep=',', index_col=0)

In [ ]:
df.head()

In [ ]:
file_path = "../datasets/pydata_datasets/babynames/yob1881.txt"

# suppose we don't know the format, we use the read_table to peek

df = pd.read_table(file_path)

In [ ]:
df.head()

In [ ]:
# since it is comma seperated, we use the read_csv file

df = pd.read_csv(file_path)
df.head()

In [ ]:
# something is amiss, the column names are part of the data
# so we specify that the header (=> column names) is/are absent

df = pd.read_csv(file_path, header=None)
df.head()


---|||
### Setting the column names

This can be achieved by passing a values to the **names** optional parameter in the read_csv method.

There are implications if the length of the passed values exceed those in the data file. In this case, the name is added and populated with NAN values

If the length of the passed values were less than those in the data file, then the the columns not accounted for are used to index the data

In [ ]:
# to be even more pragmatic, by specify the names we want
# instead of using the default integer column indexing

df = pd.read_csv(file_path, header=None, names=['Name', 'Sex', 'Count'])
df.head()

In [ ]:
df.tail()

In [ ]:
file_path = "../datasets/pydata_datasets/haiti/Haiti.csv"

# peek into the data

df = pd.read_csv(file_path)
df.head(3)

In [ ]:
# get the count of each columns of the dataframe

df.count() 

# observe that the total length is 3593

In [ ]:
# confirm the observation using the shape

df.shape

# its true; there are 3593 rows

In [ ]:
# is the serial number a numbering format or special?

# sort by index
df.sort_values(by='Serial').head()

In [ ]:
# change the values of serial to start from 1, by subtracting 3

# since we have a dataframe, and we want to apply and operation on...
# each values in the Serial column, we use the map method

f = lambda x: x - 3

In [ ]:
df.Serial = df.loc[:, 'Serial'] - 3

In [ ]:
# reindex by Serial

df.set_index('Serial', inplace=True)

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df.head()

In [ ]:
# an interesting data set
file_path = "../datasets/pydata_datasets/movielens/movies.dat"

# peek
pd.read_table(file_path).head()

Observations:

- the file has no header: set header to [name, year, genre]
- we have three seperator :: to get the title and genre, () to get the year
- we should replace the |, with something better , a space

- the index of the data should be the first column

In [ ]:
df = pd.read_table(
    file_path,
    header=None,
    names=['num', "title", "year", "genre", ''],
    sep='(\d+)::([^:]+)\s\((\d+)\)::(.*)',
    engine='python',
    keep_default_na=False,
)

In [ ]:
df.head()


---|||
## Handling Missing Values 

It is possible to pass a string or sequence of strings, as values to the **na_values** key, which would marks any occurence of the string(s) as missing values (NAN, NA...)

In [ ]:
# lets set any Abel and Echo as sentinel value

df = pd.read_csv("../datasets/Employees.csv", na_values=['Able', 'Echo'])

df.tail()

In [ ]:
# re-index

df.set_index('Unnamed: 0', inplace=True)

In [ ]:
df.head()

In [ ]:
# rename index to empty 
df.rename_axis(index="", inplace=True)

In [ ]:
df.head()

In [ ]:
# we could have set the sentinel by selecting the specific column

# lets set any Abel and Echo as sentinel value in the Name column
#and all the values less than four (4) in the YearOfService column

df = pd.read_csv(
    "../datasets/Employees.csv", 
    na_values={
        'Name': ['Able', 'Echo'],
        'YearOfService': [0, 1, 2, 3]       # values less than 4
        },

    # ones names is specified, header must be specidied with...
    #   None: if column names are not present
    #   0: if they are present, but will be renamed (using names=[])
    header=0, # this allows us to specify no column
    names= ["", "Department", "Name", "YearOfService"], # rename column
    index_col=0
)

df.sort_values(by=['Name'], ascending=True).tail()


---|||
### Converter Optional Parameter

This is a **read_csv, and read_table** optional parameter, that take a dictionary as value.

Its purpose is to apply a **function/mapping f** specified as value to a **key representing the column name, that the function should apply the mapping* to every values in the specified column

In [ ]:
df.head()

In [ ]:
df = pd.read_table(
    "../datasets/a.txt",
    header=0,
    names=["Deparment", "Name", "YearOfService"],
    sep=','
    # index_col=0
)
df

In [ ]:
# based on the observation above, lets change the NAN values in Name to 'MO'abs

f = lambda x: ('Mo' if not x else x )
# def f(x):
    # if x
df = pd.read_table(
    "../datasets/a.txt",
    header=0,
    names=["Deparment", "Name", "YearOfService"],
    sep=',',
    converters={'Name': f}
    # index_col=0
)
df


---|||
### Reading Text Files in Pieces

It is optimal, when reading data in large files, to read the data from the file in small pieces OR iterate through smaller chunks of the file

One way this can be achieved is to specify the number of rows

In [ ]:
# set the display more compact 

pd.options.display.max_rows = 10

In [133]:
file_path = "../datasets/pydata_datasets/movielens/movies.dat"

df = pd.read_table(
    file_path,
    header=None,
    names=['num', "title", "year", "genre", ''],
    sep='(\d+)::([^:]+)\s\((\d+)\)::(.*)',
    engine='python',
    keep_default_na=False,
)

df

,num,title,year,genre,
,1.0,Toy Story,1995.0,Animation|Children's|Comedy,
,2.0,Jumanji,1995.0,Adventure|Children's|Fantasy,
,3.0,Grumpier Old Men,1995.0,Comedy|Romance,
,4.0,Waiting to Exhale,1995.0,Comedy|Drama,
,5.0,Father of the Bride Part II,1995.0,Comedy,
...,...,...,...,...,...
,3948.0,Meet the Parents,2000.0,Comedy,
,3949.0,Requiem for a Dream,2000.0,Drama,
,3950.0,Tigerland,2000.0,Drama,
,3951.0,Two Family House,2000.0,Drama,
,3952.0,"Contender, The",2000.0,Drama|Thriller,

In [135]:
# instead of reading the entire file, we could specify the number of rows

file_path = "../datasets/pydata_datasets/movielens/movies.dat"

df = pd.read_table(
    file_path,
    header=None,
    names=['num', "title", "year", "genre", ''],
    sep='(\d+)::([^:]+)\s\((\d+)\)::(.*)',
    engine='python',
    keep_default_na=False,
    nrows=3
)

df

  num             title  year                         genre
    1         Toy Story  1995   Animation|Children's|Comedy
    2           Jumanji  1995  Adventure|Children's|Fantasy
    3  Grumpier Old Men  1995                Comedy|Romance


---|||
Reading in chunks, by specifying the chunksize

In [136]:
file_path = "../datasets/pydata_datasets/movielens/movies.dat"

# specify the chunksize to get an iterator

chunk = pd.read_table(
    file_path,
    header=None,
    names=['num', "title", "year", "genre", ''],
    sep='(\d+)::([^:]+)\s\((\d+)\)::(.*)',
    engine='python',
    keep_default_na=False,
    chunksize=20
)

chunk

In [139]:
file_path = "../datasets/pydata_datasets/movielens/movies.dat"

# specify the chunksize to get an iterator

chunk = pd.read_table(
    file_path,
    header=None,
    names=['num', "title", "year", "genre", ''],
    sep='(\d+)::([^:]+)\s\((\d+)\)::(.*)',
    engine='python',
    keep_default_na=False,
    chunksize=20
)

chunk

tot = pd.Series([])

for piece in chunk:
    tot = tot.add(piece['title'].value_counts(), fill_value=0)
tot

$1,000,000 Duck                        1.0
'Night Mother                          1.0
'Til There Was You                     1.0
'burbs, The                            1.0
...And Justice for All                 1.0
                                      ...
Zero Effect                            1.0
Zero Kelvin (KjÃ¦rlighetens kjÃ¸tere)    1.0
Zeus and Roxanne                       1.0
Zone 39                                1.0
eXistenZ                               1.0
Length: 3643, dtype: float64